pip install annotated-types==0.7.0
pip install anyio==4.4.0
pip install asgiref==3.8.1
pip install async-timeout==4.0.2
pip install atatus==1.4.0
pip install attrs==23.1.0
pip install azure-ai-documentintelligence==1.0.0b2
pip install azure-cognitiveservices-vision-computervision==0.9.0
pip install azure-common==1.1.28
pip install azure-core==1.30.2
pip install azure-storage-blob==12.15.0
pip install Babel==2.10.1
pip install beautifulsoup4==4.11.1
pip install boto3==1.23.2
pip install botocore==1.26.2
pip install Brotli==1.1.0
pip install bugsnag==4.4.0
pip install certifi==2022.6.15
pip install cffi==1.17.1
pip install chardet==5.2.0
pip install charset-normalizer==2.1.0
pip install click==8.1.3
pip install clickatell-platform==2.0.1
pip install colorama==0.4.4
pip install cryptography==40.0.2
pip install cssselect2==0.6.0
pip install decorator==5.1.1
pip install Django
pip install django-appconf==1.0.5
pip install django-auto-logout==0.5.1
pip install django-axes==5.40.1
pip install django-bootstrap-datepicker-plus==3.0.5
pip install django-bootstrap-v5==1.0.11
pip install django-bootstrap3==11.0.0
pip install django-bootstrap5==21.3
pip install django-ckeditor==6.5.0
pip install django-cors-headers==4.3.1
pip install django-cryptography==1.1
pip install django-debug-toolbar==4.0.0
pip install django-htmx==1.17.2
pip install django-ipware==5.0.0
pip install django-js-asset==2.0.0
pip install django-mathfilters==1.0.0
pip install django-money==2.1.1
pip install django-query-profiler==0.9
pip install django-recaptcha==3.0.0
pip install django-rest-multiple-models==2.1.3
pip install django-sendgrid-v5==1.2.0
pip install django-session-timeout==0.1.0
pip install django-storages==1.12.3
pip install django4-background-tasks==1.2.9
pip install django_csp==3.8
pip install djangorestframework==3.14.0
pip install dnspython==2.6.1
pip install docopt==0.6.2
pip install drf-spectacular==0.26.4
pip install email_validator==2.2.0
pip install et-xmlfile==1.1.0
pip install exceptiongroup==1.2.2
pip install fastapi==0.111.1
pip install fastapi-cli==0.0.4
pip install fonttools==4.37.1
pip install future==0.18.2
pip install geocoder==1.38.1
pip install googlemaps==4.6.0
pip install h11==0.14.0
pip install html5lib==1.1
pip install httpcore==1.0.5
pip install httplib2==0.20.4
pip install httptools==0.6.1
pip install httpx==0.27.0
pip install idna==3.3
pip install inflection==0.5.1
pip install iniconfig==2.0.0
pip install isodate==0.6.1
pip install isort==5.12.0
pip install Jinja2==3.1.4
pip install jmespath==1.0.0
pip install jsonschema==4.19.0
pip install jsonschema-specifications==2023.7.1
pip install latlon3==1.0.4
pip install luhn==0.2.0
pip install markdown-it-py==3.0.0
pip install MarkupSafe==2.1.5
pip install mdurl==0.1.2
pip install mmh3==5.0.1
pip install mo-dots==9.376.23121
pip install mo-future==7.340.23006
pip install mo-imports==7.365.23080
pip install mo-parsing==8.376.23121
pip install mo-sql-parsing==9.377.23123
pip install mock==4.0.3
pip install msrest==0.7.1
pip install mysqlclient==2.2.5
pip install num2words==0.5.12
pip install oauthlib==3.2.2
pip install openpyxl==3.0.9
pip install packaging==24.1
pip install pdfrw==0.4
pip install pillow==11.0.0
pip install pluggy==1.5.0
pip install psutil==5.9.5
pip install psycopg2==2.9.9
pip install py-moneyed==1.2
pip install pycparser==2.21
pip install pydantic==2.8.2
pip install pydantic_core==2.20.1
pip install pydyf==0.2.0
pip install Pygments==2.18.0
pip install PyJWT==2.8.0
pip install PyMySQL==1.0.2
pip install pyOpenSSL==23.1.1
pip install pyparsing==3.0.9
pip install PyPDF2==2.0.0
pip install pyphen==0.12.0
pip install pyproj==3.7.0
pip install pytest==8.3.3
pip install python-calamine==0.2.0
pip install python-dateutil==2.8.2
pip install python-dotenv==0.20.0
pip install python-http-client==3.3.7
pip install python-ipware==3.0.0
pip install python-multipart==0.0.9
pip install pytz==2022.1
pip install PyYAML==6.0.1
pip install qrcode==7.3.1
pip install ratelim==0.1.6
pip install redis==4.5.4
pip install referencing==0.30.2
pip install reportlab==4.2.5
pip install requests==2.28.1
pip install requests-oauthlib==2.0.0
pip install rich==13.7.1
pip install rpds-py==0.20.0
pip install s3transfer==0.5.2
pip install scout-apm==2.26.1
pip install sendgrid==6.9.7
pip install setuptools==75.2.0
pip install shellingham==1.5.4
pip install six==1.16.0
pip install sniffio==1.3.1
pip install soupsieve==2.3.2.post1
pip install sqlparse==0.4.2
pip install starkbank-ecdsa==2.0.3
pip install starlette==0.37.2
pip install tinycss2==1.1.1
pip install tomli==2.0.1
pip install typer==0.12.3
pip install typing_extensions==4.12.2
pip install tzdata==2022.1
pip install uritemplate==4.1.1
pip install urllib3==1.26.9
pip install urllib3-secure-extra==0.1.0
pip install uvicorn==0.30.3
pip install watchfiles==0.22.0
pip install weasyprint==56.1
pip install webencodings==0.5.1
pip install WebOb==1.8.7
pip install websockets==12.0
pip install whitenoise==6.4.0
pip install wrapt==1.15.0
pip install xlwt==1.3.0
pip install za-id-number==0.0.8
pip install zoomus==1.2.1
pip install zopfli==0.2.3.post1
