{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'college:co_assessor_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:co_assessor_learning_programme_cohorts' learning_programme.id %}">{{ learning_programme.programme_code }} Cohorts</a></li>
            
            <li class="breadcrumb-item active" aria-current="page">{{ learning_programme_cohort.title }} Students</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}


    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            {{ attempt_user.attempt.cohort_procedure.task }}<br>
            Examiner: {{ attempt_user.assessor.first_name }} {{ attempt_user.assessor.last_name }}
        </h2>

        
    </div>

    <div class="intro-y p-5 mt-5">
        
        <div class="overflow-x-auto" id='procedure_div'>
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th><div class="flex items-center justify-center">#</div></th> 
                        <th><div class="flex items-center justify-center">ASSESSMENT CRITERIA</div></th>
                        <th><div class="flex items-center justify-center">OUTCOME</div></th>   
                        <th><div class="flex items-center justify-center">COMMENTS</div></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in assessment %}                        
                        
                        {% if entry.question_type == 'Heading' %}
                            <tr class="intro-x">
                                        
                                <td>
                                    {{ entry.number }}
                                </td>
                                <td colspan='3'><b>{{ entry.question }}</b></td>                                         
                            </tr>
                        {% elif entry.question_type == 'Note' %}
                            <tr class="intro-x">
                                    
                                <td>
                                    {{ entry.number }}
                                </td>
                                <td colspan='3'>{{ entry.question }}</td>                                         
                            </tr>
                        {% elif entry.question_type == 'Question' %}
                            <tr class="intro-x">
                                    
                                <td>
                                    {{ entry.number }}
                                </td>
                                <td>{{ entry.question }}</td>  
                                <form>
                                    {% csrf_token %}
                                    <td>{{entry.answer_answer}}
                                    </td>
            
                                    <td>{{ entry.answer_comment }}</td>       
                                </form>                                        
                            </tr>
                        {% endif %}
                    
                    {% empty %}
                        <tr class="intro-x">
                            <td colspan="4">
                                Nothing Added
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td>Total</td>
                        <td>{{ total_marks }}/{{ total }}</td>
                        <td>{{total_marks_percentage }}%</td>
                    </tr>
                    <tr>
                        <td>Fifty percent (50%) will be deducted if assessment criteria indicated with # are not achieved, therefore student will be found NYC</td>
                        <td>Ten percent (10%) will be deducted if assessment criteria indicated with * are not achieved</td>
                        <td>Penalties deducted = {{ penalty }}</td>
                        <td>Total before Penalties deducted = {{ total_marks_percentage_before_penalty }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock %}