{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'administration:dashboard_lecturer' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:moderator_learning_programme_cohort_registration_periods' learning_programme_cohort.id %}">{{ learning_programme_cohort.title }} Registrations</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:moderator_summative_module_list' learning_programme_cohort_registration_period.id %}">{{ learning_programme_cohort_registration_period.title }} - Modules</a></li>
            
            <li class="breadcrumb-item active" aria-current="page">Students</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

{% include 'messages.html' %}

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        {{ module.module.module_code }} {{ module.module.module_name }} Student Marks
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="{% url 'college:moderator_learning_programme_cohort_module_moderators_report' module.id %}"  class="btn btn-primary shadow-md mr-2">Moderators Report</a>

    </div>
</div>

    <div class="intro-y p-5 mt-5">
        
        <div class="overflow-x-auto">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">#</th>                  
                        <th class="whitespace-nowrap">Student Number</th>
                        <th class="whitespace-nowrap">Full Name</th>                    
                        <th class="whitespace-nowrap">Email</th>
                        <th class="whitespace-nowrap">Assessor 1 Mark</th>
                        <th class="whitespace-nowrap">Assessor 2 Mark</th>
                        <th class="whitespace-nowrap">Final Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in students %}
                    <tr class="intro-x">
                        <td class="w-40">
                            {{ forloop.counter }}
                            <div id='messages_attachments_{{ forloop.counter }}'></div>
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__student_number }}
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__first_name }} {{ l.registration__student_learning_programme__student__last_name }}
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__email }}
                        </td>
                        <td>
                            {{ l.summative_assessor1 }}
                        </td> 
                        <td>
                            {{ l.summative_assessor2 }}
                        </td> 
                        <td>{{ l.year_mark }}</td>
                    </tr>
                    {% empty %}
                    <tr class="intro-x">
                        <td colspan='7'>
                            No students added yet
                        </td>
                    </tr>
                    {% endfor %}
                    
                <tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block js-content %}

<script type="text/javascript">
    
    function checkall(source){
        var loop = document.frmnotify.userscustomLoop.value;
        
        checkboxes = document.getElementsByName('students_selected[]');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }

      }

</script>

{% endblock %}