{% include 'messages.html' %}

<table class="table table-report -mt-2">
    <thead>
        <tr>
            <th><div>#</div></th> 
            <th><div>CRITERIA</div></th>
            <th><div class="flex items-center justify-center">OUTCOME</div></th>   
            <th><div class="flex items-center justify-center">REMARKS</div></th>
        </tr>
    </thead>
    <tbody>
        {% for entry in assessment %}                        
            
            {% if entry.question_type == 'Heading' %}
                <tr class="intro-x">
                            
                    <td>
                        {{ entry.number }}
                    </td>
                    <td colspan='3'><b>{{ entry.criteria }}</b></td>                                         
                </tr>
            {% elif entry.question_type == 'Note' %}
                <tr class="intro-x">
                        
                    <td>
                        {{ entry.number }}
                    </td>
                    <td colspan='3'>{{ entry.criteria }}</td>                                         
                </tr>
            {% elif entry.question_type == 'Question' %}
                <tr class="intro-x">
                        
                    <td>
                        {{ entry.number }}
                        <div id='messages_attachments_{{ forloop.counter }}'></div>
                    </td>
                    <td>{{ entry.criteria }}</td>  
                    <form>
                        {% csrf_token %}
                        <td>
                            <select name='answer' class='form-select' required
                                hx-get="{% url 'college:moderator_learning_programme_cohort_module_moderators_report_answer' module.id report.id entry.id %}"
                                hx-trigger="change"
                                hx-target="#messages_attachments_{{ forloop.counter }}"
                                action="#">
                                <option></option>
                                {% if entry.answer_answer == 'Yes' %}
                                    <option value="Yes" selected>Yes</option>
                                    <option value="No">No</option>
                                    <option value="Not Applicable">Not Applicable</option>
                                {% elif entry.answer_answer == 'No' %}
                                    <option value="Yes">Yes</option>
                                    <option value="No" selected>No</option>
                                    <option value="Not Applicable">Not Applicable</option>
                                {% elif entry.answer_answer == 'Not Applicable' %}
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    <option value="Not Applicable" selected>Not Applicable</option>
                                {% else %}
                                    <option value="Yes">Yes</option>
                                    <option value="No">No</option>
                                    <option value="Not Applicable">Not Applicable</option>
                                {% endif %}                                    
                            </select>
                        </td>

                        <td><textarea name='comment' required 
                                hx-get="{% url 'college:moderator_learning_programme_cohort_module_moderators_report_comment' module.id report.id entry.id %}"
                                hx-trigger="change"
                                hx-target="#messages_attachments_{{ forloop.counter }}"
                                action="#">{{ entry.answer_comment }}</textarea>
                        </td>       
                    </form>                                        
                </tr>
            {% endif %}
        
        {% empty %}
            <tr class="intro-x">
                <td colspan="4">
                    Nothing Added
                </td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td><div id='messages_attachments_comments'></div></td>
            <td>Moderator's Comments</td>
            <td colspan='2'>
                <textarea class="form-control"  name='comment' required 
                    hx-get="{% url 'college:moderator_learning_programme_cohort_module_moderators_report_moderators_final_comment' module.id report.id %}"
                    hx-trigger="change"
                    hx-target="#messages_attachments_comments"
                    action="#">{{ report.comment }}</textarea>
            </td>
        </tr>
        <tr>
            <td><div id='messages_attachments_feedback'></div></td>
            <td>Moderator's Feedback</td>
            <td colspan='2'>
                <textarea class="form-control"  name='moderators_feedback' required 
                    hx-get="{% url 'college:moderator_learning_programme_cohort_module_moderators_report_moderators_feedback' module.id report.id %}"
                    hx-trigger="change"
                    hx-target="#messages_attachments_feedback"
                    action="#">{{ report.moderators_feedback }}</textarea>
            </td>
        </tr>
        <tr>
            <td><div id='messages_attachments_recommendations'></div></td>
            <td>Moderator's Recommendations</td>
            <td colspan='2'>
                <textarea class="form-control"  name='recommendations' required 
                    hx-get="{% url 'college:moderator_learning_programme_cohort_module_moderators_report_recommendations' module.id report.id %}"
                    hx-trigger="change"
                    hx-target="#messages_attachments_recommendations"
                    action="#">{{ report.recommendations }}</textarea>
            </td>
        </tr>
    </tfoot>
</table>