{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'administration:dashboard_lecturer' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:lecturer_learning_programme_cohorts' learning_programme.id %}">{{ learning_programme.programme_code }} Cohorts</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:lecturer_learning_programme_cohort_registration_periods' learning_programme_cohort.id %}">{{ learning_programme_cohort.title }} Registrations</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:lecturer_procedure_list' learning_programme_cohort_period.id %}">Procedures</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ procedure.procedure.task }} Attendance Groups</li>
            <li class="breadcrumb-item active" aria-current="page">{{ procedure.procedure.task }} Students</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

{% include 'messages.html' %}

<form method = "POST" action="{% url 'students:lecturer_learning_programme_cohort_procedure_student_attendance_group_students_competency' sim_log.id %}" name="frmnotify" class="mt-5">
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            {{ procedure.procedure.task }} Attendance 
        </h2>
    </div>
   
    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
            
                {% csrf_token %}
                <input  type = "hidden" name = "userscustomLoop" value = "{{ items|length }}">
        
                <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
                    <div class="grid grid-cols-3 gap-4">
                       
                        <div>                       
                            <button type="submit" class="btn btn-primary w-48 text-white mt-6">Add Attendance</button>
                        </div>
                    </div>  
                </div>  

        </div>
    </div>

    <div class="intro-y p-5 mt-5">
        
        <div class="overflow-x-auto">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap"><input type="checkbox" name="toggle" value="all" class="form-check-input" onclick = "checkall(this)"></th>                  
                        <th class="whitespace-nowrap">Student Number Number</th>
                        <th class="whitespace-nowrap">Full Name</th>                    
                        <th class="whitespace-nowrap">Email</th>
                        <th class="whitespace-nowrap">Competent</th>
                        <th class="whitespace-nowrap">Assessments</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in students %}
                    <tr class="intro-x">
                        <td class="w-40">
                            <input type="checkbox" name="students_selected[]" value="{{ l.id }}" class="form-check-input">
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__student_number }}
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__first_name }} {{ l.registration__student_learning_programme__student__last_name }}
                        </td>
                        <td>
                            {{ l.registration__student_learning_programme__student__email }}
                        </td>
                        <td>
                            {{ l.competent }}
                        </td> 
                        <td class="table-report__action">
                            <a class="flex items-center mr-3" href="{% url 'students:lecturer_learning_programme_cohort_students_view_wil_procedures_assessment' l.registration_id l.id  %}"> <i data-lucide="files" class="w-4 h-4 mr-1"></i> Submit Assessment </a>                                                           
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="intro-x"><td colspan='5'>Nothing added yet</td></tr>
                    {% endfor %}
                    
                <tbody>
            </table>
        </div>
    </div>
</form>
{% endblock %}


{% block js-content %}

<script type="text/javascript">
    
    function checkall(source){
        var loop = document.frmnotify.userscustomLoop.value;
        
        checkboxes = document.getElementsByName('students_selected[]');
        for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
        }

      }

</script>

{% endblock %}