<div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Select Modules  </div>
 
    <!-- BEGIN: Data List -->

    <div class="intro-y col-span-12 overflow-x-auto scrollbar-hidden mt-5">
        {% include 'messages.html' %}
        <h2><b>Selected Modules</b></h2>
        <table class="table table-bordered table-hover mt-5">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Module Code</th> 
                    <th>Credits</th> 
                </tr>
            </thead>
            <tbody>
       
                {% for e in learner_registration.registered_modules.all %}
                    <tr class="intro-x">
                        
                        <td>{{ e.module.module.module_name }}</td>
                        <td>{{ e.module.module.module_code }} </td>
                        <td>{{ e.module.module.credits }}</td> 
                                         
                    </tr>
                {% empty %}
                    <tr><td colspan="4">No Modules Selected</td></tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
