{% extends 'base_vertical.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x h-full mr-auto">
        <ol class="breadcrumb breadcrumb-light">
            <li class="breadcrumb-item"><a href="{% url 'students:student_dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Appointments</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

{% include 'messages.html' %}

<div class="intro-y mt-8 flex flex-col items-center sm:flex-row">
    <h2 class="mr-auto text-lg font-medium">Appointments</h2>
    
</div>
<div class="mt-5 grid grid-cols-12 gap-5">
    <!-- BEGIN: Calendar Side Menu -->
    <div class="col-span-12 xl:col-span-4 2xl:col-span-3">
        <div class="box intro-y p-5">
            <form action="{% url 'appointments:request_appointment' %}" method="POST">
                {% csrf_token %}
                <div data-tw-merge="" id="calendar-events" class="full-calendar-draggable mb-5 mt-6 border-b border-t border-slate-200/60 py-3 dark:border-darkmode-400">
                  <div>
                    <label data-tw-merge for="regular-form-1" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                      Apponintment Title? (required)
                    </label>
                    <input type='text'  required name='title' class='form-control' maxlength='50'>
                  </div>
                  
                    <div>
                        <label data-tw-merge for="regular-form-1" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                          How can we help you? (required)
                        </label>
                        <textarea required name='description' class='form-control'></textarea>
                    </div>
                    <div class="mt-3">
                        <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                          Date (Monday to Friday)
                        </label>
                        <input required data-tw-merge name="appointment_date" type="date" placeholder="Appointment Date" required class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 rounded-full" />
                    </div>
                    <div class="mt-3">
                        <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                          Time Start (09:00 - 13h00)
                        </label>
                        <input data-tw-merge name="appointment_time_start" type="time" placeholder="" required class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 rounded-full" />
                    </div>
                    <div class="mt-3">
                      <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                          End Time (09:00 - 13h00)
                      </label>
                      <input data-tw-merge name="appointment_time_end" type="time" placeholder="" required class="disabled:bg-slate-100 disabled:cursor-not-allowed dark:disabled:bg-darkmode-800/50 dark:disabled:border-transparent [&[readonly]]:bg-slate-100 [&[readonly]]:cursor-not-allowed [&[readonly]]:dark:bg-darkmode-800/50 [&[readonly]]:dark:border-transparent transition duration-200 ease-in-out w-full text-sm border-slate-200 shadow-sm rounded-md placeholder:text-slate-400/90 focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus:border-primary focus:border-opacity-40 dark:bg-darkmode-800 dark:border-transparent dark:focus:ring-slate-700 dark:focus:ring-opacity-50 dark:placeholder:text-slate-500/80 group-[.form-inline]:flex-1 group-[.input-group]:rounded-none group-[.input-group]:[&:not(:first-child)]:border-l-transparent group-[.input-group]:first:rounded-l group-[.input-group]:last:rounded-r group-[.input-group]:z-10 rounded-full" />
                  </div>
                    <div class="mt-3">
                        <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                          Category (required)
                        </label>
                        <select class='form-select' required name='category'>
                          <option></option>
                          {% for cat in categories %}
                            <option value='{{ cat.id }}'>{{ cat.category }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="mt-3">
                      <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                        How do you want to have this meeting? (required)
                      </label>
                      <select class='form-select' required name='contact'>
                        <option></option>
                        {% for cat in contact_methods %}
                          <option value='{{ cat.id }}'>{{ cat.contact }}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="mt-3">
                      <label data-tw-merge for="regular-form-2" class="inline-block mb-2 group-[.form-inline]:mb-2 group-[.form-inline]:sm:mb-0 group-[.form-inline]:sm:mr-5 group-[.form-inline]:sm:text-right">
                        Who do you want to have this appointment with?
                      </label>
                      <select class='form-select' required name='assigned'>
                        <option></option>
                        {% for cat in staff %}
                          <option value='{{ cat.user.id }}'>{{ cat.first_name }} {{ cat.last_name }}</option>
                        {% endfor %}
                      </select>
                  </div>
                </div>
                <div data-tw-merge="" class="flex items-center">
                    <button data-tw-merge="" type="submit" class="transition duration-200 border shadow-sm inline-flex items-center justify-center py-2 px-3 rounded-md font-medium cursor-pointer focus:ring-4 focus:ring-primary focus:ring-opacity-20 focus-visible:outline-none dark:focus:ring-slate-700 dark:focus:ring-opacity-50 [&:hover:not(:disabled)]:bg-opacity-90 [&:hover:not(:disabled)]:border-opacity-90 [&:not(button)]:text-center disabled:opacity-70 disabled:cursor-not-allowed bg-primary border-primary text-white dark:border-primary mt-2 w-full"><i data-tw-merge="" data-lucide="edit" class="stroke-1.5 mr-2 h-4 w-4"></i>
                      Request Appointment
                    </button>
                </div>
            </form>
        </div>
        <div class="box intro-y mt-5 p-5">
            <div data-tw-merge="" id="calendar-events" class="full-calendar-draggable mb-5 mt-6 border-b border-t border-slate-200/60 py-3 dark:border-darkmode-400">
              {% for a in appointments %}
                    <div class="relative">
                        <div class="event -mx-3 flex cursor-pointer items-center rounded-md p-3 transition duration-300 ease-in-out hover:bg-slate-100 dark:hover:bg-darkmode-400">
                            <div class="mr-3 h-2 w-2 rounded-full {% if breakdown.count_remainder > 0 %}bg-success{% else %}bg-danger{% endif %} "></div>
                            <div class="pr-10">
                                <div class="event__title truncate">{{ a.category.category }} - {{ a.assigned.first_name }} {{ a.assigned.last_name }}</div>
                                <div class="mt-0.5 text-xs text-slate-500">
                                    <span class="event__days">{{ a.appointment_date }} at {{ a.appointment_time_start }}</span>                                  
                                </div>
                                <div class="mt-0.5 text-xs text-slate-500">
                                  <button class="btn btn-primary mr-1 mb-2" data-tw-toggle="modal" data-tw-target="#edit{{ a.id }}"> <i data-lucide="edit" class="w-5 h-5"></i> </button> 
                                  {% if a.status == 'Completed' %}
                                    <button class="btn btn-warning mr-1 mb-2" data-tw-toggle="modal" data-tw-target="#feedback{{ a.id }}"> <i data-lucide="message-circle" class="w-5 h-5"></i> </button> 
                                    <button class="btn btn-success mr-1 mb-2" data-tw-toggle="modal" data-tw-target="#stafffeedback{{ a.id }}"> <i data-lucide="activity" class="w-5 h-5"></i> </button> 
                                  {% endif %}
                                  {% if a.status == 'NewTime' %}
                                    <button class="btn btn-danger mr-1 mb-2" data-tw-toggle="modal" data-tw-target="#newtime{{ a.id }}"> <i data-lucide="clock" class="w-5 h-5"></i> </button> 
                                  {% endif %}
                              </div>
                            </div>
                        </div>
                        
                    </div>

                    <div class="modal fade" id="stafffeedback{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Feedback from Staff</h5>
                            
                          </div>


                          <div class="modal-body">


                                  <div class="form-group">
                                    <label for="feedback_student">Feedback</label>
                                    {% if a.status == 'Completed' %}
                                    <p>The following was recommended in order of importance: </p>

                                      {% for outcome in a.outcome.all %}

                                        {{ outcome.recommendation.recommendation }}<br>

                                      {% endfor %}
                                    {% else %}
                                      <p>{{ a.appointment_acceptance_feedback }}</p>
                                    {% endif %}
                                  </div>

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-tw-dismiss="modal">Close</button>
                          </div>

                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="feedback{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Feedback</h5>
                           
                          </div>

                          <form action="{% url 'appointments:appointment_feedback' a.id %}" method="POST">
                            {% csrf_token %}
                          <div class="modal-body">

                            <p>Please give us feedback after completing your session. Thank you</p>
                              {% if a.status == 'Completed' %}
                                  <div class="form-group">
                                    <label for="feedback_student">Feedback (required)</label>
                                    <textarea name="feedback_student" id="id_feedback_student" class="form-control" required>{{ a.feedback_student }}</textarea>
                                  </div>
                              {% endif %}

                          </div>
                          <div class="modal-footer">
                            <button {% if a.status == 'Completed' %} type="submit" {% else %} type = "button" {% endif %} class="btn btn-primary">Add Feedback</button>
                            <button type="button" class="btn btn-light" data-tw-dismiss="modal">Close</button>
                          </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="edit{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">Edit Appointment</h5>
                           
                          </div>

                          <form action="{% url 'appointments:edit_appointment' a.id %}" method="POST">
                            {% csrf_token %}
                          <div class="modal-body">

                              <div class="form-group">
                                <label for="period">Title (required)</label>
                                <input type="text" name="title" id="id_title" class="form-control mt-2" value="{{ a.title }}">
                              </div>

                              <div class="form-group mt-5">
                                <label for="period">Description (required)</label>
                                <textarea name="description" id="id_description" class="form-control mt-2">{{ a.description }}</textarea>
                              </div>

                              <div class="form-group mt-5  ">
                                <label for="period">Date (required)</label>
                                <input type="date" name="appointment_date" id="id_appointment_date" class="form-control mt-2" value="{{ a.appointment_date|date:'Y-m-d' }}">
                              </div>

                              <div class="form-group mt-5">
                                <label>Time Start (required)</label>
                                <input type="time" name="appointment_time_start" id="id_appointment_time_start" class="form-control mt-2" value="{{ a.appointment_time_start|date:'h:i:s' }}">
                              </div>

                              <div class="form-group mt-5">
                                <label>End Time (09:00 - 13h00)</label>
                                <input name="appointment_time_end" type="time" required class="form-control mt-2" value="{{ a.appointment_time_end|date:'h:i:s' }}"/>
                            </div>

                              <div class="form-group mt-5">
                                <label for="period">Category (required)</label>
                                <select name="category" id="id_category" class="form-control mt-2">
                                  <option></option>
                                  {% for c in categories %}
                                    {% if c.id == a.category_id %}
                                        <option value="{{ c.id }}" selected>{{ c.category }}</option>
                                    {% else %}
                                        <option value="{{ c.id }}">{{ c.category }}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="form-group mt-5">
                                <label>
                                  How do you want to have this meeting? (required)
                                </label>
                                <select class='form-select mt-2' required name='contact'>
                                  <option></option>
                                  {% for cat in contact_methods %}
                                    {% if c.id == a.contact_id %}
                                        <option value='{{ cat.id }}' selected>{{ cat.contact }}</option>
                                    {% else %}
                                        <option value='{{ cat.id }}'>{{ cat.contact }}</option>
                                    {% endif %}                                    
                                  {% endfor %}
                                </select>
                              </div>

                              <div class="form-group mt-5">
                                <label for="period">Who do you want to have this appointment with? (required)</label>
                                <select name="assigned" id="assigned" class="form-control mt-2">
                                  <option></option>
                                  {% for c in staff %}
                                    {% if c.user.id == a.assigned_id %}
                                        <option value="{{ c.user.id }}" selected>{{ c.first_name }} {{ c.last_name }}</option>
                                    {% else %}
                                        <option value="{{ c.user.id }}">{{ c.first_name }} {{ c.last_name }}</option>
                                    {% endif %}
                                  {% endfor %}
                                </select>
                              </div>

                          </div>
                          <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Edit Appointment</button>
                            <button type="button" class="btn btn-light" data-tw-dismiss="modal">Close</button>
                          </div>
                          </form>

                        </div>
                      </div>
                    </div>

                    <div class="modal fade" id="newtime{{ a.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="ModalLabel">New Time Requested</h5>
                           
                          </div>

                          <div class="modal-body">

                            <p>A new Time has been proposed. Please accept or reject the change. Once accepted, get ready for the appointment on the proposed date and time. If rejected, please feel free to request a new date and time for the appointment</p>
                            <div class="form-group mt-5  ">
                              <label for="period">Date (required)</label>
                              <input disabled type="date" name="appointment_date" id="id_appointment_date" class="form-control mt-2" value="{{ a.appointment_date|date:'Y-m-d' }}">
                            </div>

                            <div class="form-group mt-5">
                              <label>Time Start (required)</label>
                              <input disabled type="time" name="appointment_time_start" id="id_appointment_time_start" class="form-control mt-2" value="{{ a.appointment_time_start|date:'h:i:s' }}">
                            </div>

                            <div class="form-group mt-5">
                              <label>End Time (09:00 - 13h00)</label>
                              <input disabled name="appointment_time_end" type="time" required class="form-control mt-2" value="{{ a.appointment_time_end|date:'h:i:s' }}"/>
                            </div>
                          </div>
                          <div class="modal-footer grid grid-cols-2 gap-5">
                            <a href = "{% url 'appointments:appointment_new_time_accept' a.id %}" class="btn btn-success">Accept</a>
                            <a href = "{% url 'appointments:appointment_new_time_reject' a.id %}" class="btn btn-danger">Reject</a>
                          </div>
                        

                        </div>
                      </div>
                    </div>
                {% endfor %}
              
            </div>
        </div>
    </div>
    <!-- END: Calendar Side Menu -->
    <!-- BEGIN: Calendar Content -->
    <div class="col-span-12 xl:col-span-8 2xl:col-span-9">
        <div class="box p-5">
            <div id='test_calendar'>
              
            </div>
        </div>
    </div>
    <!-- END: Calendar Content -->
</div>

{% endblock %}

{% block js-content %}

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
<script>
   
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('test_calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialDate: "{{ today|date:'Y-m-d' }}",
        headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        views: {
            dayGridMonth: { buttonText: 'month' },
            timeGridWeek: { buttonText: 'week' },
            timeGridDay: { buttonText: 'day' }
        },
        initialView: 'dayGridMonth',
        events: [
          {% for leave in all_leave %}
            {
                title: '{{ leave.type_of_leave.type_of_leave }} - {{ leave.approved }}',
                start: '{{ leave.from_date|date:"Y-m-d" }}',
                end: '{{ leave.to_date|date:"Y-m-d" }}',
                description: '{{ leave.comment }}',
                color: "{% if leave.approved == 'Pending' %}orange{% elif leave.approved == 'Rejected' %}purple{% else %}green{% endif %}"
            },
          {% endfor %}      
          {% for a in appointments %}
                {
                  title: '{{ a.category.category }}\n{{ a.status }}',
                  start: '{{ a.appointment_date|date:"Y-m-d" }}T{{ a.appointment_time_start|date:"h:i:s" }}',
                  color: {% if a.status == 'Completed' %} '#40316E' {% elif a.status == "Declined" %} 'red' {% else %} 'orange' {% endif %}
                },
          {% endfor %}    
          {% for plan in timetable %}
                  {
                      title: '{{ plan.block.block_code }}',
                      start: '{{ plan.education_plan_section_week.start_of_week|date:"Y-m-d" }}',
                      end: '{{ plan.education_plan_section_week.end_of_week|date:"Y-m-d" }}',
                      description: '{{ plan.block.block_name }}',
                      color: "blue"
                  },
              {% endfor %}      
        ]
      });
      calendar.render();
    });

  </script>

{% endblock %}