<div class="border border-slate-200/60 dark:border-darkmode-400 rounded-md p-5 mt-5">
    <div class="font-medium flex items-center border-b border-slate-200/60 dark:border-darkmode-400 pb-5"> <i data-lucide="chevron-down" class="w-4 h-4 mr-2"></i> Summary </div>
    <div class="grid grid-cols-1 gap-4 mt-5 border-dashed border-2 border-indigo-600 px-8 py-8">

        {% include 'messages.html' %}
        
        <form 
            hx-post="{% url 'students:check_learner_form_details' lp.id %}"
            hx-trigger="submit"
            hx-target="#summary_page"
            action="#"        
            hx-on::before-request="summaryButton.disabled = true;summaryButton.innerHTML ='Checking Verification Data....'; return true;"
            hx-on::after-request="summaryButton.disabled = false;summaryButton.innerHTML ='Checked!'; return true;">
            {% csrf_token %} 
                <div class="">
                    <button id='summaryButton' type="submit" class="btn btn-warning w-60 ml-2  text-white">Check Learner Form</button>                    
                </div>

            </form>

              
    </div>
    
         
        <div class="grid grid-cols-2 gap-4 mt-5 border-dashed border-2 border-indigo-600 px-8 py-8">
            <table>
                <tr>
                    <td class="font-medium">Learner Details</td>
                    <td>
                        {% if learner_completed %}
                            <button class="btn btn-success mr-1 mb-2 text-white"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> Complete</button> 
                        {% else %}
                            <button class="btn btn-danger mr-1 mb-2 text-white"> <i data-lucide="x-square" class="w-4 h-4 mr-2"></i> Pending</button> 
                        {% endif %}                            
                    </td>
                    <td>{% if not learner_completed %}{{ learner_reason|safe }}{% endif %}</td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-medium">Next of Kin Details</td>
                    <td>
                        {% if lp_completed %}
                            <button class="btn btn-success mr-1 mb-2 text-white"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> Complete</button> 
                        {% else %}
                            <button class="btn btn-danger mr-1 mb-2 text-white"> <i data-lucide="x-square" class="w-4 h-4 mr-2"></i> Pending</button> 
                        {% endif %}                            
                    </td>
                    <td><br><br>{% if not lp_completed %}{{ lp_reason|safe }}{% endif %}  </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
              <!-- <tr>
                    <td class="font-medium">Attachments</td>
                    <td>
                        {% if attachments_completed %}
                            <button class="btn btn-success mr-1 mb-2 text-white"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> Complete </button> 
                        {% else %}
                            <button class="btn btn-danger mr-1 mb-2 text-white"> <i data-lucide="x-square" class="w-4 h-4 mr-2"></i> Pending</button> 
                        {% endif %}                            
                    </td>
                    <td><br><br>{% if not attachments_completed %}{{ attachment_reason|safe }}{% endif %}  </td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>
                <tr>
                    <td class="font-medium">Signed Learner Contract</td>
                    <td>
                        {% if lp.signed_contract %}
                            <button class="btn btn-success mr-1 mb-2 text-white"> <i data-lucide="check-square" class="w-4 h-4 mr-2"></i> Complete</button> 
                        {% else %}
                            <button class="btn btn-danger mr-1 mb-2 text-white"> <i data-lucide="x-square" class="w-4 h-4 mr-2"></i> Pending</button> 
                        {% endif %}                            
                    </td>
                    <td></td>
                    <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                </tr>  -->            
            </table>                
        </div>
    
</div>