{% extends 'accounts/accounts_base.html' %}

{% load static %}

{% block main-content %}
<div>
<img class ="mt-10" src="{% static 'images/AHC-LOGO.png' %}"/>

<div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
  
  <div class="mt-20 my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
      <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
          Select Role
      </h2>
      {% include 'messages.html' %}
        <div class="grid grid-cols-12 gap-6 mt-5">
            {% for r in roles %}
                <div class="col-span-12 sm:col-span-6 xl:col-span-8 intro-y">
                    <div class="report-box zoom-in">
                        <div class="box p-5">
                            <a href="{% url 'accounts:select_role' r.id %}"><div class="flex">
                                <i data-lucide="user" class="report-box__icon text-primary"></i>                                 
                            </div>
                            <div class="text-3xl font-medium leading-8 mt-6">{{ r.role }}</div>
                            <div class="text-base text-slate-500 mt-1">{{ r.description }}</div></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>



      <div class="intro-x mt-10 xl:mt-24 text-slate-600 dark:text-slate-500 text-center xl:text-left"> By signin up, you agree to our <a class="text-primary dark:text-slate-200" href="">Terms and Conditions</a> & <a class="text-primary dark:text-slate-200" href="">Privacy Policy</a> </div>
  </div>
</div>
</div>
{% endblock %}
