{% extends 'accounts/accounts_base.html' %}
{% load static %}

{% block main-content %}
<div>
<img class ="mt-10" src="{% static 'images/AHC-LOGO.png' %}"/>

<div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">
  
  <div class="mt-20 my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
      <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
        Select a New Password
      </h2><br>
      <p class="text-primary font-weight-light">Password should be a maximum of 14 characters and contain the following:<br> At least 1 number<br>At least 1 capital letter<br>At least one special character: ()[]{}|\`~!@#$%^&*_-+=;:'\",<>./?</p><br>
      <div id = 'password_expired_message'></div>
      <h6 class="font-weight-light text-danger">Your password has expired. Please select a new password below and enter it twice for verification.</h6>
      <form 
            hx-post="{% url 'accounts:renew_password' %}"
            hx-trigger="submit"
            hx-target="#password_expired_message"                  
            hx-on::before-request="pass_details.disabled = true;pass_details.innerHTML ='Verifying Password Security....'; return true;"
            hx-on::after-request="pass_details.disabled = false;pass_details.innerHTML ='Completed!'; return true;">  
      
            {% csrf_token %}
               
            <div class="input-group">
              <input class="pass1 h-12 w-full border mt-6 outline-none p-2 pr-password" type="password" placeholder="Password" name="new_password1" required>
              <div id="input-group-email" class="input-group-text h-12 border mt-6 rounded-lg outline-none p-2"><i class="fa fa-eye-slash eye_1"></i></div>
          </div>

        <div class="input-group">
            <input class="pass3 h-12 w-full border mt-6 outline-none p-2" type="password" placeholder="Repeat New Password" name="new_password2" required>
            <div id="input-group-email" class="input-group-text h-12 border mt-6 rounded-lg outline-none p-2"><i class="fa fa-eye-slash eye_3"></i></div>
        </div>
      

        <div class="intro-x mt-5 xl:mt-8 text-center xl:text-left w-full">
            <button type='submit' id='pass_details' class="btn btn-primary py-3 px-4 w-full xl:w-40 xl:mr-3 align-top">Update Password</button>
        </div>
    </form>
  </div>
</div>
</div>
{% endblock %}