{% extends 'accounts/accounts_base.html' %}
{% load static %}

{% block main-content %}
<div class="col-lg-6 d-flex justify-content-center align-items-center border-0 rounded-lg auth-h100">
  <div class="w-100 p-4 p-md-5 card border-0" style="max-width: 32rem;">
      <!-- Form -->
      <form 
            hx-post="{% url 'accounts:selected_new_password' user_id token_id %}"
            hx-trigger="submit"
            hx-target="#forgot_password_messages"                  
            hx-on::before-request="pass_details.disabled = true;pass_details.innerHTML ='Verifying Password Security....'; return true;"
            hx-on::after-request="pass_details.disabled = false;pass_details.innerHTML ='Completed!'; return true;">  
      
          {% csrf_token %}

          <div class="col-12 text-center mb-5">
              <div id='forgot_password_messages'></div>
              <img src="{% static 'assets/images/auth-password-reset.svg' %}%" class="w240 mb-4" alt="" />
              <h1>Select New Password</h1>
              <span>Please select a new password below.</span>
          </div>
          <div class="col-12">
              <div class="mb-2">
                  <label class="form-label">Password</label>
                  <input name="password1" type="password"class="form-control form-control-lg" placeholder="Password" required>
              </div>
          </div>
          <div class="col-12">
            <div class="mb-2">
                <label class="form-label">Retype Password</label>
                <input name="password2" type="password" class="form-control form-control-lg" placeholder="Retype Password" required>
            </div>
        </div>
          <div class="col-12 text-center mt-4">
              <button id='pass_details' type = 'submit' class="btn btn-lg btn-block btn-dark lift text-uppercase">SUBMIT</a>
          </div>
          <div class="col-12 text-center mt-4">
              <span class="text-muted"><a href="{% url 'accounts:login_user' %}">Back to Sign in</a></span>
          </div>
      </form>
      <!-- End Form -->
  </div>
</div>
{% endblock %}
