{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'administration:dashboard_lecturer' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:lecturer_learning_programme_cohorts' learning_programme.id %}">{{ learning_programme.programme_code }} Cohorts</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ learning_programme_cohort.title }} {{  period.title}} Master Education Plan</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

{% include 'messages.html' %}


    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            Educational Plans
        </h2>
        
    </div>

    <div class="intro-y box p-5 mt-5">
        
        <div class="overflow-x-auto">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">#</th>
                        <th class="whitespace-nowrap">Year</th>
                        <th class="whitespace-nowrap">Learning Programme </th>
                        <th class="whitespace-nowrap">Start of Academic Week </th>
                        <th class="whitespace-nowrap">Quarters </th>
                       
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'college:lecturer_education_plan_weeks' item.id %}">{{ item.year }}</a></td>
                            <td>{{ period.learning_programme_cohort.learning_programme.programme_code }} </td>
                            <td>{{ item.academic_week_start }}</td>
                            <td>
                                {% for p in item.sections.all %}
                                <b>{{ p.section }} </b>
                                <br><br>
                                
                            {% endfor %}

                            </td>
                         
                        </tr>
                    {% empty %}
                    <tr><td colspan = '6'>No education plans added, please add at least one</td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}