{% extends 'base.html' %}

{% load static %}

{% block main-content %}
      <div class="row">
            <div class="col-12">
              {% include 'messages.html' %}
              <div class="card">
                <div class="card-body">
                  <p class="card-title">Surveys</p>
                  <ul class="icon-data-list">

                    {% for survey in surveys %}

                        <li>
                          <p class="text-primary mb-1"><a {% if survey.completed == False  %}href="{% url 'contact:survey_view' survey.id %}"{% else %}data-toggle="tooltip" data-placement="top" title="Already Completed"{% endif %}>{{ survey.title }}</a> {% if survey.completed  %}<i class="ti-check font-weight-bold ml-auto px-1 py-1 text-primary mdi-24px"></i>{% endif %}</p>
                          <p class="text-muted">{{ survey.description }}</p>
                          <small class="text-muted"><b>Added:</b> {{ survey.created_at }}</small>
                        </li>

                    {% empty %}

                        <li>
                          <p class="text-primary mb-1">No surveys added yet</p>
                        </li>

                    {% endfor %}

                  </ul>
                </div>
              </div>
            </div>
          </div>

{% endblock %}
