{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="{% url 'college:learning_programmes' %}">Learning Programmes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Learning Programme Block Template</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        {{ learning_programme.programme_name }} Block Template
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#add-modal" class="btn btn-primary shadow-md mr-2">Add New Programme Block</a>
        <div id="add-modal" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'college:learning_programme_block_template_add' learning_programme.id period.id %}" method="POST">
                        {% csrf_token %}
                        <!-- BEGIN: Modal Header -->
                        <div class="modal-header">
                            <h2 class="font-medium text-base mr-auto">Add Programme Block</h2>                                             
                        </div> <!-- END: Modal Header -->
                        <!-- BEGIN: Modal Body -->
                        <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                               
                            <div class="col-span-12 sm:col-span-12"> 
                                <label for="modal-form-1" class="form-label">Academic Week</label> 
                                <input id="academic_week" name='academic_week' type="number" min="1" class="form-control" maxlength='53' required> 
                            </div> 
                            <div class="col-span-12 sm:col-span-12"> 
                                <label for="modal-form-1" class="form-label">Block</label> 
                                <select id="block" name='block' class="form-control" required> 
                                    <option></option>                                    
                                    {% for block in blocks %}
                                        <option value="{{ block.id }}">{{ block.block_code }}</option>
                                    {% endfor %}                                                                                          
                                </select>
                            </div>  
                            <div class="col-span-12 sm:col-span-12"> 
                                <label for="modal-form-1" class="form-label">Facility Type</label> 
                                <select id="facility_type" name='facility_type' class="form-control"> 
                                    <option></option>                                    
                                    <option value="H">Hospital</option>
                                    <option value="PHC">Primary Health Center</option>
                                    <option value="C">College</option>                                                                                          
                                </select>
                            </div>   
                            <div class="col-span-12 sm:col-span-12"> 
                                <label for="modal-form-1" class="form-label">Time Period</label> 
                                <select id="time_period" name='time_period' class="form-control"> 
                                    <option></option>                                    
                                    <option value="Night">Night</option>
                                    <option value="Day">Day</option>                                                                                       
                                </select>
                            </div>                                         
                        </div> <!-- END: Modal Body -->
                        <!-- BEGIN: Modal Footer -->
                        <div class="modal-footer"> 
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                            <button type="submit" class="btn btn-primary w-40">Add Programme Block</button> 
                        </div> <!-- END: Modal Footer -->
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% include 'messages.html' %}
<div class="grid grid-cols-12 gap-6 mt-5">
    
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">Academic Week</th>
                    <th class="whitespace-nowrap">Programme Block Code</th>
                    <th class="whitespace-nowrap">Facility Type</th>
                    <th class="whitespace-nowrap">Time Period</th>
                    <th class="whitespace-nowrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for r in items %}
                <tr class="intro-x">
                    <td class="w-40">
                        {{ r.academic_week }}
                    </td>
                    <td>
                        {{ r.block.block_code }}
                    </td>
                    <td>
                        {{ r.facility_type }}
                    </td>
                    <td>
                        {{ r.time_period }}
                    </td>
                    
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" href="javascript:;" data-tw-toggle="modal" data-tw-target="#edit-modal_{{ r.id }}"> <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                            <div id="edit-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="{% url 'college:learning_programme_block_template_edit' learning_programme.id period.id r.id %}" method="POST">
                                            {% csrf_token %}
                                            <!-- BEGIN: Modal Header -->
                                            <div class="modal-header">
                                                <h2 class="font-medium text-base mr-auto">Programme Block</h2>                                             
                                            </div> <!-- END: Modal Header -->
                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12"> 
                                                    <label for="modal-form-1" class="form-label">Academic Week</label> 
                                                    <input id="academic_week" name='academic_week' type="number" min="1" class="form-control" maxlength='53' value="{{ r.academic_week }}" required> 
                                                </div> 
                                                <div class="col-span-12 sm:col-span-12"> 
                                                    <label for="modal-form-1" class="form-label">Block</label> 
                                                    <select id="block" name='block' class="form-control" required> 
                                                        <option></option>                                    
                                                        {% for block in blocks %}
                                                            {% if block == r.block %}
                                                                <option value="{{ block.id }}" selected>{{ block.block_code }}</option>
                                                            {% else %}
                                                                <option value="{{ block.id }}">{{ block.block_code }}</option>
                                                            {% endif %}
                                                            
                                                        {% endfor %}                                                                                          
                                                    </select>
                                                </div>  
                                                <div class="col-span-12 sm:col-span-12"> 
                                                    <label for="modal-form-1" class="form-label">Facility Type</label> 
                                                    <select id="facility_type" name='facility_type' class="form-control"> 
                                                        <option></option>
                                                        {% if r.facility_type == "H" %}
                                                            <option value="H" selected>Hospital</option>
                                                            <option value="PHC">Primary Health Center</option>
                                                            <option value="C">College</option>
                                                        {% elif r.facility_type == "PHC"  %}
                                                            <option value="H">Hospital</option>
                                                            <option value="PHC" selected>Primary Health Center</option>
                                                            <option value="C">College</option>
                                                        {% elif r.facility_type == "C"  %}
                                                            <option value="H">Hospital</option>
                                                            <option value="PHC">Primary Health Center</option>
                                                            <option value="C" selected>College</option>
                                                        {% else %}
                                                            <option value="H">Hospital</option>
                                                            <option value="PHC">Primary Health Center</option>
                                                            <option value="C">College</option>
                                                        {% endif %}                                                        
                                                    </select>
                                                </div>    
                                                <div class="col-span-12 sm:col-span-12"> 
                                                    <label for="modal-form-1" class="form-label">Time Period</label> 
                                                    <select id="time_period" name='time_period' class="form-control"> 
                                                        <option></option>     
                                                        {% if r.time_period == '' %}
                                                            <option value="Night" selected>Night</option>
                                                            <option value="Day">Day</option> 
                                                        {% elif r.time_period == '' %}
                                                            <option value="Night">Night</option>
                                                            <option value="Day" selected>Day</option> 
                                                        {% else %}
                                                            <option value="Night">Night</option>
                                                            <option value="Day">Day</option> 
                                                        {% endif %}                                                                           
                                                    </select>
                                                </div>                                    
                                            </div> <!-- END: Modal Body -->
                                            <!-- BEGIN: Modal Footer -->
                                            <div class="modal-footer"> 
                                                <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                                                <button type="submit" class="btn btn-primary w-40">Edit Programme Block</button> 
                                            </div> <!-- END: Modal Footer -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal_{{ r.id }}"> <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            <div id="delete-confirmation-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <form action="{% url 'college:learning_programme_block_template_delete' learning_programme.id period.id r.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="p-5 text-center">
                                                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i> 
                                                    <div class="text-3xl mt-5">Are you sure?</div>
                                                    <div class="text-slate-500 mt-2">
                                                        Do you really want to delete this record? 
                                                        <br>
                                                        This process cannot be undone.
                                                    </div>
                                                </div>
                                                <div class="px-5 pb-8 text-center">
                                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                                                    <button type="submit" class="btn btn-danger w-24">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr class="intro-x"><td colspan='5'>Nothing added yet</td></tr>
                {% endfor %}
                
            <tbody>
        </table>
    </div>
</div>

{% endblock %}