{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
<nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
        <li class="breadcrumb-item"><a href="{% url 'college:learning_programme_cohorts' learning_programme.id %}">{{ learning_programme.programme_code }} Cohorts</a></li>
        <li class="breadcrumb-item"><a href="{% url 'college:learning_programme_cohort_registration_periods' learning_programme_cohort.id %}">{{ learning_programme_cohort.title }} Registrations</a></li>
        <li class="breadcrumb-item active" aria-current="page">Modules</li>
    </ol>
</nav>
{% endblock %}


{% block main-content %}

{% include 'messages.html' %}


    <div class="intro-y flex flex-col sm:flex-row items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            {{ learning_programme_cohort_registration_period.title }} Modules
        </h2>
        <div class="w-full sm:w-auto flex mt-4 sm:mt-0">

            <a href="{% url 'college:learning_programme_cohort_registration_modules_staff' learning_programme_cohort_registration_period.id  %}" class="btn btn-danger shadow-md mr-2">Assign Lecturer</a>
            <a href="{% url 'college:learning_programme_cohort_registration_modules_moderator' learning_programme_cohort_registration_period.id  %}" class="btn btn-warning shadow-md mr-2">Assign Moderator</a>
            

            <button data-tw-toggle="modal" data-tw-target="#copy-modal"  class="btn btn-success shadow-md mr-2">Copy Assessments</button>
            <div id="copy-modal" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <form action="{% url 'college:copy_modules_assessments'  learning_programme_cohort_registration_period.id %}" method="POST">
                                {% csrf_token %}
                                <div class="p-5 text-center">
                                    <i data-lucide="copy" class="w-16 h-16 text-success mx-auto mt-3"></i> 
                                    <div class="text-3xl mt-5">Copy Assessments?</div>
                                    <div class="text-slate-500 mt-2">
                                        Are you sure you want to copy assessments over. Any assessments added will be removed.
                                        <br>
                                        This process cannot be undone.
                                    </div>
                                </div>
                                <div class="px-5 pb-8 text-center">
                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                                    <button type="submit" class="btn btn-success w-24">Copy</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <button data-tw-toggle="modal" data-tw-target="#add-modal"  class="btn btn-primary shadow-md mr-2">Add Modules</button>

            <div id="add-modal" class="modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <form action="{% url 'college:learning_programme_cohort_registration_modules_add'  learning_programme_cohort_registration_period.id %}" method="POST">
                            {% csrf_token %}
                            <!-- BEGIN: Modal Header -->
                            <div class="modal-header">
                                <h2 class="font-medium text-base mr-auto">Add Modules</h2>                                             
                            </div> <!-- END: Modal Header -->
                            <!-- BEGIN: Modal Body -->
                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                <div class="col-span-12 sm:col-span-12"> 
                                    <label for="modal-form-1" class="form-label">Modules*</label> 
                                    <select name='modules[]' class='tom-select' multiple required>
                                        <option></option>
                                        {% for b in modules %}
                                            <option value='{{ b.id }}'>{{ b.module_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                                                                       
                            </div> <!-- END: Modal Body -->
                            <!-- BEGIN: Modal Footer -->
                            <div class="modal-footer"> 
                                <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                                <button type="submit" class="btn btn-primary w-60">Add Modules</button> 
                            </div> <!-- END: Modal Footer -->
                        </form>
                    </div>
                </div>
            </div>

            
        </div>
    </div>

    <div class="intro-y p-5 mt-5">
        
        <div class="overflow-x-auto">
            <table class="table table-report -mt-2">
                <thead>
                    <tr>
                        <th class="whitespace-nowrap">#</th>                    
                        <th class="whitespace-nowrap">Module</th>
                        <th class="whitespace-nowrap">Summative<br> Weight</th>
                        <th class="whitespace-nowrap">Formative<br> Weights</th>
                        <th class="whitespace-nowrap">Assessments</th>
                        <th class="whitespace-nowrap">Lecturer</th>
                        <th class="whitespace-nowrap">Moderator</th>
                        <th class="whitespace-nowrap">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for r in items %}
                    <tr class="intro-x">
                        <td>
                            {{ forloop.counter }}
                        </td>
                        <td>
                            {{ r.module.module_code }} {{ r.module.module_name }}
                        </td>
                        <td>
                            <b>Year Mark:</b> {{ r.entrance_year_mark }}%<br>
                            <b>Exam weight:</b> {{ r.summative_weight }}%
                        </td>                                              
                        <td>
                            <b>Assignments:</b> {{ r.assignment_weight }}%<br>
                            <b>Tests:</b> {{ r.test_weight }}%
                        </td>
                        <td>
                            {% for p in r.formative.all %}
                            <b>{{ p.title }} {{ p.weight }}%</b><br>
                            <a data-tw-toggle="modal" data-tw-target="#edit_formative_{{ r.id }}_{{ p.id }}" class='text-success'>Edit</a>&nbsp; &nbsp;  |&nbsp; &nbsp;  <a data-tw-toggle="modal" data-tw-target="#delete_formative_{{ r.id }}_{{ p.id }}" class='text-danger'>Remove</a><br>
                            <hr><br>

                            <div id="edit_formative_{{ r.id }}_{{ p.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <form action="{% url 'college:learning_programme_cohort_registration_module_formative_edit' learning_programme_cohort_registration_period.id r.id p.id %}" method="POST">       
                                        {% csrf_token %}                                  
                                        <div class="modal-content">
                                            <div class="modal-body p-5">
                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Type</label> 
                                                    <select name='assessment_type' class='form-select' required>
                                                        <option></option>
                                                        {% if p.assessment_type == 'Assignment' %}
                                                            <option value='Assignment' selected>Assignment</option>
                                                            <option value='Test'>Test</option>
                                                        {% elif p.assessment_type == 'Test' %}
                                                            <option value='Assignment'>Assignment</option>
                                                            <option value='Test' selected>Test</option>
                                                        {% else %}
                                                            <option value='Assignment'>Assignment</option>
                                                            <option value='Test'>Test</option>
                                                        {% endif %}
                                                        
                                                    </select>
                                                </div>

                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Title</label> 
                                                    <input type='text' name='title' required class='form-control' value="{{ p.title }}">
                                                </div>

                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Weight</label> 
                                                    <input type='number' name='weight' required class='form-control' value='{{ p.weight }}'>
                                                </div>
                                                                                                  
                                                <br><br>
                                                <div class="px-5 pb-8 text-center"> 
                                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button> 
                                                    <button type="submit" class="btn btn-success w-60 text-white">Edit Assessment</button> 
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                                <div id="delete_formative_{{ r.id }}_{{ p.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <form action="{% url 'college:learning_programme_cohort_registration_module_formative_delete' learning_programme_cohort_registration_period.id r.id p.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="p-5 text-center">
                                                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i> 
                                                        <div class="text-3xl mt-5">Are you sure?</div>
                                                        <div class="text-slate-500 mt-2">
                                                            Do you really want to delete this record? 
                                                            <br>
                                                            This process cannot be undone.
                                                        </div>
                                                    </div>
                                                    <div class="px-5 pb-8 text-center">
                                                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                                                        <button type="submit" class="btn btn-danger w-24">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                            <a class="btn btn-success w-24 ml-2 text-white mb-5" data-tw-toggle="modal" data-tw-target="#add_formative_{{ r.id }}"> <i data-lucide="plus" class="w-4 h-4 mr-1"></i> Add Assessment</a>
                            <div id="add_formative_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <form action="{% url 'college:learning_programme_cohort_registration_module_formative_add' learning_programme_cohort_registration_period.id r.id %}" method="POST">       
                                        {% csrf_token %}                                  
                                        <div class="modal-content">
                                            <div class="modal-body p-5">
                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Type</label> 
                                                    <select name='assessment_type' class='form-select' required>
                                                        <option></option>
                                                        <option value='Assignment'>Assignment</option>
                                                        <option value='Test'>Test</option>
                                                    </select>
                                                </div>

                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Title</label> 
                                                    <input type='text' name='title' required class='form-control'>
                                                </div>

                                                <div class="mt-5 col-span-12 sm:col-span-12"> 
                                                    <label for="id_beginning" class="form-label">Assessment Weight</label> 
                                                    <input type='number' name='weight' required class='form-control'>
                                                </div>
                                                                                                  
                                                <br><br>
                                                <div class="px-5 pb-8 text-center"> 
                                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button> 
                                                    <button type="submit" class="btn btn-success w-60 text-white">Add Assessment</button> 
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </td>
                        <td>{{ r.lecturer.first_name }} {{ r.lecturer.last_name }}</td>
                        <td>{{ r.moderator.first_name }} {{ r.moderator.last_name }}</td>
                        <td class="">
                            <div class="flex justify-center items-center">
                                <a class="flex items-center mr-3" href="{% url 'college:learning_programme_cohort_registration_module_students' learning_programme_cohort_registration_period.id r.id %}"> <i data-lucide="users" class="w-4 h-4 mr-1"></i> Students </a>
                                
                                <a class="flex items-center mr-3" href="javascript:;" data-tw-toggle="modal" data-tw-target="#edit-modal_{{ r.id }}"> <i data-lucide="edit" class="w-4 h-4 mr-1"></i> Edit </a>
                                
                                <div id="edit-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <form action="{% url 'college:learning_programme_cohort_registration_modules_edit' learning_programme_cohort_registration_period.id r.id %}" method="POST">
                                                {% csrf_token %}
                                                <!-- BEGIN: Modal Header -->
                                                <div class="modal-header">
                                                    <h2 class="font-medium text-base mr-auto">Edit Module</h2>                                             
                                                </div> <!-- END: Modal Header -->
                                                <!-- BEGIN: Modal Body -->
                                                <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                    
                                                    <div class="col-span-12 sm:col-span-12"> 
                                                        <label for="modal-form-1" class="form-label">Test Weight*</label> 
                                                        <input id="test_weight" name='test_weight' type="number" class="form-control" value="{{ r.test_weight }}" required min='0' max='100'> 
                                                    </div>
                    
                                                    <div class="col-span-12 sm:col-span-12"> 
                                                        <label for="modal-form-1" class="form-label">Assignments Weight*</label> 
                                                        <input id="assignment_weight" name='assignment_weight' type="number" class="form-control" value="{{ r.assignment_weight }}" required min='0' max='100'> 
                                                    </div>
                                                    
                                                    <div class="col-span-12 sm:col-span-12"> 
                                                        <label for="modal-form-1" class="form-label">Summative Entry Year Mark Minimum*</label> 
                                                        <input id="entrance_year_mark" name='entrance_year_mark' type="number" class="form-control" value="{{ r.entrance_year_mark }}" required min='0' max='100'> 
                                                    </div>
                    
                                                    <div class="col-span-12 sm:col-span-12"> 
                                                        <label for="modal-form-1" class="form-label">Summative Weight*</label> 
                                                        <input id="summative_weight" name='summative_weight' type="number" class="form-control" value="{{ r.summative_weight }}" required min='0' max='100'> 
                                                    </div>

                                                </div> <!-- END: Modal Body -->
                                                <!-- BEGIN: Modal Footer -->
                                                <div class="modal-footer"> 
                                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                                                    <button type="submit" class="btn btn-primary w-60">Edit Module</button> 
                                                </div> <!-- END: Modal Footer -->
                                            </form>
                                        </div>
                                    </div>
                                </div> 

                                <a class="flex items-center mr-3" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-modal_{{ r.id }}"> <i data-lucide="trash" class="w-4 h-4 mr-1"></i> Delete </a>
                                
                                <div id="delete-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-body p-0">
                                                <form action="{% url 'college:learning_programme_cohort_registration_modules_delete'  learning_programme_cohort_registration_period.id r.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="p-5 text-center">
                                                        <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i> 
                                                        <div class="text-3xl mt-5">Are you sure?</div>
                                                        <div class="text-slate-500 mt-2">
                                                            Do you really want to delete this record? 
                                                            <br>
                                                            This process cannot be undone.
                                                        </div>
                                                    </div>
                                                    <div class="px-5 pb-8 text-center">
                                                        <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                                                        <button type="submit" class="btn btn-danger w-24">Delete</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% empty %}
                    <tr class="intro-x"><td colspan='4'>Nothing added yet</td></tr>
                    {% endfor %}
                    
                <tbody>
            </table>
        </div>
    </div>

{% endblock %}