{% extends 'base_vertical.html' %}

{% load bootstrap3 %}

{% block main-content %}

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-inverse-info">
                {%  if user.is_authenticated and user.roles_id == 2  %}
                  <li class="breadcrumb-item"><a href="{% url 'wil:dashboard' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'wil:advert_list' %}">Adverts</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a>Add Advert</a></li>
                {% elif user.is_authenticated and user.roles_id == 10 %}
                  <li class="breadcrumb-item"><a href="{% url 'psycad:dashboard' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'psycad:advert_list' %}">Adverts</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a>Add Advert</a></li>
                {% elif user.is_authenticated and user.roles_id == 11 %}
                  <li class="breadcrumb-item"><a href="{% url 'psycad:dashboard' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'psycad:advert_list' %}">Adverts</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a>Add Advert</a></li>
                {% endif %}
              </ol>
            </nav>

            {% include 'messages.html' %}

        </div>
      </div>
  </div>
</div>

  <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Create Advert</h4>
          <p class="card-description">
            Please fill in the information below
          </p>
          <form class="forms-sample" method="POST" enctype="multipart/form-data" action="{% url 'psycad:save_advert' %}">
            {% csrf_token %}

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Company</label>
                  <div class="col-sm-10">
                    <select name="company" id="id_company" class="js-companies-multiple">
                      <option value="0">Select company from list</option>
                      {% for company in companies %}
                        <option value='{{ company.id }}'>{{ company.company_name }}</option>
                      {% endfor %}
                  </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Type of Position</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="type" id="id_type" required>
                      <option value="0">Select Type of Position</option>
                      {% for type in types %}
                        <option value="{{ type.id }}">{{ type.type }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div id="div_advert_info" style="display: none;">

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Package Pricing for Type</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="type_price" id="id_type_price" required>
                      <option>Select Package Pricing</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Job Title</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.position show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Industry</label>
                  <div class="col-sm-10">

                    <select name='industry' id="id_industry" class="form-control">
                        {% for i in industries %}
                          <option value='{{ i.id }}'>{{ i.industry }}</option>
                        {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Description</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.description show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Requirements</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.requirements show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*How to Apply</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.apply show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Link</label>
                  <div class="col-sm-10">
                    <input type="text" name="link" id="id_link" class="form-control" placeholder='http://'>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Document Requirements</label>
                  <div class="col-sm-10">
                    <select name="documents[]" id="id_documents" class="js-documents w-100" multiple="multiple" required>
                      <option value="Cover Letter">Cover Letter</option>
                      <option value="Curriculum Vitae">Curriculum Vitae</option>
                      <option value="Academic Record">Academic Record</option>
                      <option value="Other">Other</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row" id="div_other_document" style="display: none;">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Other Document Requirement</label>
                  <div class="col-sm-10">
                    <input type="text" name="other_document" id="id_other_document" class="form-control">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Posting Date</label>
                  <div class="col-sm-10">
                    <input type="date" name="post_date" id="id_post_date" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Closing Date</label>
                  <div class="col-sm-10">
                    <input type="date" name="cut_off_date" id="id_cut_off_date" class="form-control" required>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Region</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.region show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Address</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.address show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Paid/Unpaid</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.paid show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Contract</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.contract show_label=False %}
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">*Departments</label>
                  <div class="col-sm-8">
                    <select class="js-departments w-100" multiple="multiple" name="departments[]" required>
                      <option value="all">Select All Departments</option>
                      {% for faculty in faculties %}
                        <optgroup label="{{ faculty.faculty }}">
                        {% for department in faculty.departments.all %}
                          <option value="{{ department.id }}">{{ department.department }}</option>
                        {% endfor %}
                      {% endfor %}
                    </select>
                  </div>
                  
                </div>
              </div>
            </div>



            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Year Level</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="level" id="id_level">
                      <option value='0'>Select the year level</option>
                      {% for level in levels %}
                        <option value="{{ level.id }}">{{ level.level }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Degree</label>
                  <div class="col-sm-10">
                    <select class="form-control" name="degree" id="id_degree">
                      <option value='0'>Select the degree level</option>
                      {% for degree in degrees %}
                        <option value="{{ degree.id }}">{{ degree.degree }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">File/Poster</label>
                  <div class="col-sm-10">
                    <input type="file" name="file" id="id_file" class=form-control>
                  </div>
                </div>
              </div>
            </div>


            <button type="submit" class="btn btn-primary mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
        </div>
      </div>
    </div>


{% endblock %}

{% block js-content %}

<script>

  $(document).ready(function() {
      $('.js-companies-multiple').select2({
        placeholder: 'Select options',
        width: '100%'
      });
      $('.js-departments').on("select2:select", function (e) { 
        var data = e.params.data.text;
        if(data=='all'){
         $(".js-departments > option").prop("selected","selected");
         $(".js-departments").trigger("change");
        }
      });

      $("#all_departments").change(function() {
        if(this.checked) {
          {% for faculty in faculties %}
            {% for department in faculty.departments.all %}
              alert('{{ department.department }}');
            {% endfor %}
          {% endfor %}
            
        }
      });

        $('.js-departments').select2({
          placeholder: 'Please Select',
          width: '100%'
        });

        $('.js-documents').select2({
          placeholder: 'Please Select',
          width: '100%'
        });



        $('#id_type').on('change', function(){

          var id_type = $( "#id_type" ).val();

          if(id_type > 0){
            document.getElementById("div_advert_info").style.display = "block";
            $.ajax({ // ajax call starts
              url: "{% url 'contact:ajax_type_payments' %}", // JQuery loads serverside.php
              data: 'id_type=' + id_type, // Send value of the clicked button
              dataType: 'json', // Choosing a JSON datatype
            })
            .done(function(data) { // Variable data contains the data we get from serverside
              var len = data.length;
              $("#id_type_price").empty();
              if(len > 0){
                for( var i = 0; i<len; i++){
                  var id = data[i]['id'];
                  var period = data[i]['period'];
                  $("#id_type_price").append("<option value='"+ id +"'>"+ period +"</option>");
                }
              }

            });
          } else{
            document.getElementById("div_advert_info").style.display = "none";
            alert("Please select the type of position you want to advertise");
          }
         // or $(this).val()
        return false; // keeps the page from not refreshing
        });

        $('#id_documents').on('change', function(){
          var other_document = $( "#id_documents" ).val();
          var str = other_document.toString()
          if(str.includes("Other")){
            document.getElementById("div_other_document").style.display = "block";
          } else{
            document.getElementById("div_other_document").style.display = "none";
            $( "#id_other_document" ).val( "" );
          }
        return false; // keeps the page from not refreshing
        });

  });

</script>



{% endblock %}
