<!-- BEGIN: Page -->
<div class="intro-y box col-span-12 2xl:col-span-6">
    <div class="flex items-center px-5 py-5 sm:py-3 border-b border-slate-200/60 dark:border-darkmode-400">
        <h2 class="font-medium text-base mr-auto">
            Education Details
        </h2>
    </div>
    <div class="p-5">

        <form 
            hx-post="{% url 'students:edit_profile_education_details' student.id %}"
            hx-trigger="submit"
            hx-target="#messages_learner_education"
            action="#"                    
            hx-on::before-request="btn_learner_education.disabled = true;btn_learner_education.innerHTML ='Saving....'; return true;"
            hx-on::after-request="btn_learner_education.disabled = false;btn_learner_education.innerHTML ='Saved!'; return true;">

        
            {% csrf_token %}
        <div class="grid grid-cols-1 gap-4">
            <div class="flex flex-col mb-4 md:w-1/2">
                <label for="id_first_name" class="form-label w-full">Highest NQF Level Attained</label>
                <select name="highest_nqf_level" id="id_highest_nqf_level" class=-"form-select" {{ lp_edit }}>
                    <option></option>
                    {% for nqf in nqf_levels  %}
                        {% if student.highest_nqf_level_id == nqf.id %}
                            <option value="{{ nqf.id }}" selected>NQF Level: {{ nqf.nqf_level }} {{ nqf.description }}</option>
                        {% else %}
                            <option value="{{ nqf.id }}">NQF Level: {{ nqf.nqf_level }} {{ nqf.description }}</option>
                        {% endif %}
                    {% endfor %}    
                </select>
            </div> 

            <div class="flex flex-col mb-4 md:w-1/2">
                <label for="id_highest_qualification" class="form-label w-full">Title of your highest qualification?*</label>
                <input name='highest_qualification' id="id_highest_qualification" type="text" class="form-control" placeholder="Highest Qualification" value='{{ student.highest_qualification|default_if_none:"" }}' required {{ lp_edit }}>
            </div>   

            <div class="flex flex-col mb-4 md:w-1/2">
                <label for="id_marticulated" class="form-label w-full">Has the Learner matriculated from high school</label>
                <select name="marticulated" id="id_marticulated" class="form-select" required {{ lp_edit }}>
                    <option></option>
                    {% if student.marticulated == "Yes" %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    {% elif student.marticulated == "No" %}
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    {% endif %}
                </select>
            </div> 

            <div class="flex flex-col mb-4 md:w-1/2" id = "div_marticulated_sa" {% if student.marticulated == "Yes" %} style="display:block" {% else %} style="display:none" {% endif %}>
                <label for="id_marticulated_sa" class="form-label w-full">Did the Learner matriculate in South Africa</label>
                <select name="marticulated_sa" id="id_marticulated_sa" class="form-select" {{ lp_edit }}>
                    <option></option>
                    {% if student.marticulated_sa == "Yes" %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                    {% elif student.marticulated_sa == "No" %}
                        <option value="Yes">Yes</option>
                        <option value="No" selected>No</option>
                    {% else %}
                        <option value="Yes">Yes</option>
                        <option value="No">No</option>
                    {% endif %}
                </select>
            </div>

            <div class="flex flex-col mb-4 md:w-1/2" id = "div_high_school_province" {% if student.marticulated_sa == "Yes" %} style="display:block" {% else %} style="display:none" {% endif %}>
                <label for="id_high_school_province" class="form-label w-full">Province High School Marticulated from</label>
                <select name="province" id="id_province_highschool" class="form-select" {{ lp_edit }}>
                    <option></option>
                    {% for p in provinces %}
                        {% if student.high_school_code %}
                            {% if p.id == student.high_school_code.ProvinceCD_id %}
                                <option value="{{ p.id }}" selected>{{ p.province }}</option>
                            {% else %}
                                <option value="{{ p.id }}">{{ p.province }}</option>
                            {% endif %}
                        {% else %}
                            <option value="{{ p.id }}">{{ p.province }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="flex flex-col mb-4 md:w-1/2" id = "div_high_school" {% if student.marticulated_sa == "Yes" %} style="display:block" {% else %} style="display:none" {% endif %}>
                <label for="id_high_school_province" class="form-label w-full">Select High School Marticulated from</label>
                <select name="high_school_code" id="id_high_school_code" class="form-select" {{ lp_edit }}>
                    {% if student.high_school_code %}
                        {% for code in student.fetch_schools_province %}
                            {% if student.high_school_code_id == code.id %}
                                <option value="{{ code.id }}" selected>{{ code.Official_Institution_Name }}</option>
                            {% else %}
                                <option value="{{ code.id }}">{{ code.Official_Institution_Name }}</option>
                            {% endif %}                    
                        {% endfor %}
                    {% endif %}
                </select>
            </div>

            <div class="flex flex-col mb-4 md:w-1/2" id = "div_high_school_name" {% if student.marticulated_sa == "No" %} style="display:block" {% else %} style="display:none" {% endif %}>
                <label for="id_high_school" class="form-label w-full">High school Marticulated from</label>
                <input name='high_school' id="id_high_school" type="text" class="form-control" placeholder="High school Marticulated From" value='{{ student.high_school|default_if_none:"" }}' {{ lp_edit }}>
            </div>   
            
            <div class="flex flex-col mb-4 md:w-1/2" id = "div_year_national_certificate" style="display:none">
                <label for="id_year_national_certificate" class="form-label w-full">Year of National Senior Certificate</label>
                <input min="2000" name='year_national_certificate' id="id_year_national_certificate" type="number" class="form-control" placeholder="Year National Senior Certificate" value='{{ student.year_national_certificate|default_if_none:"" }}'  maxlength="4" {{ lp_edit }}>
            </div>  
            
        </div>
    
            <div class="grid grid-cols-2">
                <div></div>
                <div class="items-center mt-10">
                    <button id='btn_learner_education' type="submit" class="btn btn-elevated-primary w-48 mr-1 mb-2 self-center" id="btn_education_save">Save Details</button>
                </div>
            </div>
    </form>
    <div id='messages_learner_education'></div>

    </div>
</div>