<ul class="list-unstyled menu-categories" id="accordionExample">

    <li class="menu">
        <a href="{% url 'spaces:company_user_guide' %}" aria-expanded="{{ userguide }}" class="dropdown-toggle">
            <div class="">
                <span>User Guide</span>
            </div>
        </a>
    </li>
    
    <li class="menu">
        <a href="{% url 'spaces:delegate_login' %}" aria-expanded="{{ login }}" class="dropdown-toggle">
            <div class="">
                <span>Delegate Login</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:manual_foyer' %}" aria-expanded="{{ foyer }}" class="dropdown-toggle">
            <div class="">
                <span>The Foyer</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:manual_newsfeed' %}" aria-expanded="{{ newsfeed }}" class="dropdown-toggle">
            <div class="">
                <span>The News Feed</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:manual_discussions' %}" aria-expanded="{{ discussions }}" class="dropdown-toggle">
            <div class="">
                <span>The Discussion Space</span>
            </div>
        </a>
    </li>
    
    <li class="menu">
        <a href="{% url 'spaces:delegate_booth' %}" aria-expanded="{{ booth }}" class="dropdown-toggle">
            <div class="">
                <span>Your Exhibition Booth</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_students' %}" aria-expanded="{{ students }}" class="dropdown-toggle">
            <div class="">
                <span>Student Delegates</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_booth_meetings' %}" aria-expanded="{{ meetings }}" class="dropdown-toggle">
            <div class="">
                <span>Booth Meetings</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_booth_chats' %}" aria-expanded="{{ chats }}" class="dropdown-toggle">
            <div class="">
                <span>Booth Chats</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_profile' %}" aria-expanded="{{ profile }}" class="dropdown-toggle">
            <div class="">
                <span>Delegate Profile</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_booth_edit' %}" aria-expanded="{{ booth_edit }}" class="dropdown-toggle">
            <div class="">
                <span>Edit Booth</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:delegate_booth_documents' %}" aria-expanded="{{ documents }}" class="dropdown-toggle">
            <div class="">
                <span>Booth Documents</span>
            </div>
        </a>
    </li>

    <li class="menu whats-new">
        <a href="{% url 'spaces:delegate_booth_discussions' %}" aria-expanded="{{ manage_discussions }}" class="dropdown-toggle">
            <div class="">
                <span>Booth Discussions</span>
            </div>
        </a>
    </li>

    <li class="menu whats-new">
        <a href="{% url 'spaces:delegate_manage_delegates' %}" aria-expanded="{{ delegates }}" class="dropdown-toggle">
            <div class="">
                <span>Manage Delegates</span>
            </div>
        </a>
    </li>

    <li class="menu whats-new">
        <a href="{% url 'spaces:delegate_manage_presentations' %}" aria-expanded="{{ presentations }}" class="dropdown-toggle">
            <div class="">
                <span>Manage Presentations</span>
            </div>
        </a>
    </li>

    
</ul>