{% load icon %}

<nav id="sidebar">

  <ul class="navbar-nav theme-brand flex-row  text-center">
      <li class="nav-item theme-text">
          <a href="#" class="nav-link"> SPACES </a>
      </li>
      <li class="nav-item toggle-sidebar">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather sidebarCollapse feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
      </li>
  </ul>

  <div class="shadow-bottom"></div>
  <ul class="list-unstyled menu-categories" id="accordionExample">
      <li class="menu {{ dash_active }}">
          <a href="{% url 'spaces:foyer' virtual_space.id %}" aria-expanded="false" class="dropdown-toggle">
              <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  <span> Foyer</span>
              </div>
          </a>
      </li>

      <li class="menu {{ stream_active }}">
        <a href="{% url 'spaces:stream_messages' virtual_space.id %}" aria-expanded="{{ stream_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "send" class="css-class" height="8" width="8"  %}
                <span> Feed</span>
            </div>
        </a>
    </li>

    <li class="menu {{ discussions_active }}">
        <a href="{% url 'spaces:discussions' virtual_space.id  %}" aria-expanded="{{ discussions_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "message-circle" class="css-class" height="8" width="8"  %}
                <span> Discussions</span>
            </div>
        </a>
    </li>

    <li class="menu {{ booth_active }}">
        <a href="{% url 'spaces:contact_company_booth' virtual_space.id %}" aria-expanded="{{ booth_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                <span> My Exhibition Booth</span>
            </div>
        </a>
    </li>

    <li class="menu {{ room_active }}">
        <a href="{% url 'spaces:booth_rooms' virtual_space.id %}" aria-expanded="{{ room_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "youtube" class="css-class" height="8" width="8"  %}
                <span> My Booth Presentations</span>
            </div>
        </a>
    </li>

    <li class="menu {{ pres_active }}">
        <a href="{% url 'spaces:presenters' virtual_space.id %}" aria-expanded="{{ pres_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                <span> Presenters and Delegates</span>
            </div>
        </a>
    </li>

    <li class="menu {{ student_delegates_active }}">
        <a href="{% url 'spaces:faculties' virtual_space.id %}" aria-expanded="{{ student_delegates_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "command" class="css-class" height="8" width="8"  %}
                <span>Student Delegates</span>
            </div>
        </a>
    </li>

    <li class="menu {{ booth_meetings_active }}">
        <a href="{% url 'spaces:booth_view_meetings' virtual_space.id %}" aria-expanded="{{ booth_meetings_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "clock" class="css-class" height="8" width="8"  %}
                <span>Booth Meetings</span>
            </div>
        </a>
    </li>

    <li class="menu {{ chat_requests_active }}">
        <a href="{% url 'spaces:view_chat_requests' virtual_space.id %}" aria-expanded="{{ chat_requests_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "message-square" class="css-class" height="8" width="8"  %}
                <span> Booth Chat Requests</span>
            </div>
        </a>
    </li>

    
    <li class="menu menu-heading">
        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span>USER MENU</span></div>
    </li>                    

    <li class="menu {{ user_active }}">
        <a href="{% url 'spaces:contact_profile' virtual_space.id %}" aria-expanded="{{ user_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "user" class="css-class" height="8" width="8"  %}
                <span> User Profile</span>
            </div>
        </a>
    </li>
    <li class="menu {{ booth_edit_active }}">
        <a href="{% url 'spaces:edit_company_booth' virtual_space.id %}" aria-expanded="{{ booth_edit_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "square" class="css-class" height="8" width="8"  %}
                <span> Edit Booth</span>
            </div>
        </a>
    </li>

    <li class="menu {{ booth_doc_active }}">
        <a href="{% url 'spaces:booth_documents' virtual_space.id %}" aria-expanded="{{ booth_doc_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "file" class="css-class" height="8" width="8"  %}
                <span>Booth Documents</span>
            </div>
        </a>
    </li>
    <li class="menu {{ booth_disc_active }}">
        <a href="{% url 'spaces:booth_discussions' virtual_space.id %}" aria-expanded="{{ booth_disc_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "message-square" class="css-class" height="8" width="8"  %}
                <span>Booth Discussions</span>
            </div>
        </a>
    </li>
    <li class="menu {{ delegates_active }}">
        <a href="{% url 'spaces:manage_company_delegates' virtual_space.id %}" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "user-check" class="css-class" height="8" width="8"  %}
                <span> Manage Booth Delegates</span>
            </div>
        </a>
    </li>
    <li class="menu {{ rooms_active }}">
        <a href="{% url 'spaces:manage_rooms' virtual_space.id %}" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "cloud" class="css-class" height="8" width="8"  %}
                <span> Manage Booth Presentations</span>
            </div>
        </a>
    </li>
    <li class="menu menu-heading">
        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span>REPORTS MENU</span></div>
    </li>
    <li class="menu {{ my_booth_active }}">
        <a href="{% url 'spaces:booth_report' virtual_space.id %}" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "cloud" class="css-class" height="8" width="8"  %}
                <span>General Reports</span>
            </div>
        </a>
    </li> 

    <li class="menu {{ student_event_attendance_active }}">
        <a href="{% url 'spaces:report_student_attendance_analysis' virtual_space.id %}" aria-expanded="{{ student_event_attendance_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "users" class="css-class" height="8" width="8"  %}
                <span>Student Attendance</span>
            </div>
        </a>
    </li>

  </ul>
</nav>