<ul>
    <li>
        <a href="{% url 'administration:dashboard_lecturer' %}" class="side-menu side-menu{{ dash_menu }}">
            <div class="side-menu__icon">
                <i data-tw-merge="" data-lucide="home" class="stroke-1.5 w-5 h-5"></i>
            </div>
            <div class="side-menu__title">
                Dashboard
               
            </div>
        </a>
    </li>

<li>
    <a href="javascript:;" class="side-menu side-menu{{ facility_bookings_menu }}">
        <div class="side-menu__icon">
            <i data-tw-merge="" data-lucide="building" class="stroke-1.5 w-5 h-5"></i>
        </div>
        <div class="side-menu__title">
            Facility Bookings            
            <div class="side-menu__sub-icon ">
                  <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
              </div>
        </div>
    </a>
    <ul class="{{ facility_bookings_menu_open }}">

        <li>
            <a href="{% url 'facilities:facility_bookings' %}" class="side-menu side-menu{{ facility_admin_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Administrator Bookings</div>
            </a>
        </li>

        <li>
            <a href="{% url 'facilities:facility_booking_staff_list' %}" class="side-menu side-menu{{ facility_book_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Request Facility</div>
            </a>
        </li>
         
      </ul>
</li>

<li>
    <a href="javascript:;" class="side-menu side-menu{{ resource_bookings_menu }}">
        <div class="side-menu__icon">
            <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i>
        </div>
        <div class="side-menu__title">
            Resource Bookings    
            <div class="side-menu__sub-icon ">
                  <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
              </div>        
        </div>
    </a>
    <ul class="{{ resource_bookings_menu_open }}">

        <li>
            <a href="{% url 'resources:resource_bookings' %}" class="side-menu side-menu{{ resource_admin_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Administrator Bookings</div>
            </a>
        </li>

        <li>
            <a href="{% url 'resources:resource_booking_staff_list' %}" class="side-menu side-menu{{ resource_book_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Request Resource</div>
            </a>
        </li>
         
      </ul>
</li>

    <li class="my-6 side-nav__divider"></li>
    <li>
        <a href="javascript:;" class="side-menu side-menu{{ cohort_menu }}">
            <div class="side-menu__icon">
                <i data-tw-merge="" data-lucide="edit" class="stroke-1.5 w-5 h-5"></i>
            </div>
            <div class="side-menu__title">
                Learner Cohorts
                <div class="side-menu__sub-icon ">
                    <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
                </div>
            </div>
        </a>
        <ul class="">
          {% for programme in MENU_PROGRAMMES %}
              <li>
                  <a href="{% url 'college:lecturer_learning_programme_cohorts' programme.id %}" class="side-menu">
                      <div class="side-menu__icon">
                          <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i>
                      </div>
                      <div class="side-menu__title">
                          {{ programme.programme_code }}
                      </div>
                  </a>
              </li>
            {% endfor %}
        
        </ul>
    </li>

    <li>
        <a href="{% url 'appointments:appointments_my_list' %}" class="side-menu side-menu{{ appt_menu }}">
            <div class="side-menu__icon">
                <i data-tw-merge="" data-lucide="calendar" class="stroke-1.5 w-5 h-5"></i>
            </div>
            <div class="side-menu__title">
                Appointment Requests
                
            </div>
        </a>
    </li>

    <li class="my-6 side-nav__divider"></li>
  <li>
      <a href="javascript:;" class="side-menu side-menu{{ facilities_menu }}">
          <div class="side-menu__icon">
              <i data-tw-merge="" data-lucide="inbox" class="stroke-1.5 w-5 h-5"></i>
          </div>
          <div class="side-menu__title">
              Facility Management
              <div class="side-menu__sub-icon ">
                  <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
              </div>
          </div>
      </a>
      <ul class="{{ facilities_menu_open }}">



        <li>
            <a href="{% url 'facilities:activities' %}" class="side-menu side-menu{{ activity_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Activities</div>
            </a>
        </li>

        <li>
            <a href="{% url 'facilities:facilities' %}" class="side-menu side-menu{{ facility_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Facilities</div>
            </a>
        </li>
         
      </ul>
  </li>


    <li class="my-6 side-nav__divider"></li>
  <li>
      <a href="javascript:;" class="side-menu side-menu{{ resources_menu }}">
          <div class="side-menu__icon">
              <i data-tw-merge="" data-lucide="inbox" class="stroke-1.5 w-5 h-5"></i>
          </div>
          <div class="side-menu__title">
              Resource Management
              <div class="side-menu__sub-icon ">
                  <i data-tw-merge="" data-lucide="chevron-down" class="stroke-1.5 w-5 h-5"></i>
              </div>
          </div>
      </a>
      <ul class="{{ resources_menu_open }}">

        <li>
            <a href="{% url 'resources:resources' %}" class="side-menu side-menu{{ resources_menu_open }}">
                <div class="side-menu__icon"> <i data-tw-merge="" data-lucide="activity" class="stroke-1.5 w-5 h-5"></i> </div>
                <div class="side-menu__title">Resources</div>
            </a>
        </li>
         
      </ul>
  </li>
    
  
  </ul>
  