<ul class="list-unstyled menu-categories" id="accordionExample">
    
    <li class="menu">
        <a href="{% url 'spaces:student_user_guide' %}" aria-expanded="{{ userguide }}" class="dropdown-toggle">
            <div class="">
                <span>User Guide</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_login' %}" aria-expanded="{{ login }}" class="dropdown-toggle">
            <div class="">
                <span>Student Login</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_foyer' %}" aria-expanded="{{ foyer }}" class="dropdown-toggle">
            <div class="">
                <span>The Foyer</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_feed' %}" aria-expanded="{{ newsfeed }}" class="dropdown-toggle">
            <div class="">
                <span>The News Feed</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_discussions' %}" aria-expanded="{{ discussions }}" class="dropdown-toggle">
            <div class="">
                <span>The Discussions</span>
            </div>
        </a>
    </li>
    
    <li class="menu">
        <a href="{% url 'spaces:student_booth' %}" aria-expanded="{{ booth }}" class="dropdown-toggle">
            <div class="">
                <span>Company Booths</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_chats' %}" aria-expanded="{{ chats }}" class="dropdown-toggle">
            <div class="">
                <span>Chats</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_join_chats' %}" aria-expanded="{{ chat_join }}" class="dropdown-toggle">
            <div class="">
                <span>Join A Chat</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_meetings' %}" aria-expanded="{{ meetings }}" class="dropdown-toggle">
            <div class="">
                <span>Meetings</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_join_meetings' %}" aria-expanded="{{ meeting_join }}" class="dropdown-toggle">
            <div class="">
                <span>Join Meeting</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_profile_manual' %}" aria-expanded="{{ profile }}" class="dropdown-toggle">
            <div class="">
                <span>Student Profile</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_live_sessions' %}" aria-expanded="{{ live_session }}" class="dropdown-toggle">
            <div class="">
                <span>Live Sessions / Presentations</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'spaces:student_join_live' %}" aria-expanded="{{ livession_join }}" class="dropdown-toggle">
            <div class="">
                <span>Join a Live Session</span>
            </div>
        </a>
    </li>    
</ul>