<ul class="list-unstyled menu-categories" id="accordionExample">
    
    <li class="menu">
        <a href="{% url 'student:manual_register' %}" aria-expanded="{{ register }}" class="dropdown-toggle">
            <div class="">
                <span>Register</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_login' %}" aria-expanded="{{ login }}" class="dropdown-toggle">
            <div class="">
                <span>Student Login</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_dashboard' %}" aria-expanded="{{ dashboard }}" class="dropdown-toggle">
            <div class="">
                <span>The Dashboard</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_profile' %}" aria-expanded="{{ profile }}" class="dropdown-toggle">
            <div class="">
                <span>Profile</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_cv' %}" aria-expanded="{{ cv }}" class="dropdown-toggle">
            <div class="">
                <span>The CV</span>
            </div>
        </a>
    </li>
    
    <li class="menu">
        <a href="{% url 'student:manual_jobs' %}" aria-expanded="{{ jobs }}" class="dropdown-toggle">
            <div class="">
                <span>Advertised Jobs</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_events' %}" aria-expanded="{{ events }}" class="dropdown-toggle">
            <div class="">
                <span>Recruitment Programmes</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_companies' %}" aria-expanded="{{ companies }}" class="dropdown-toggle">
            <div class="">
                <span>Companies</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_resources' %}" aria-expanded="{{ resources }}" class="dropdown-toggle">
            <div class="">
                <span>Student Resources</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_blog' %}" aria-expanded="{{ blog }}" class="dropdown-toggle">
            <div class="">
                <span>Blog Posts</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_appointments' %}" aria-expanded="{{ appointments }}" class="dropdown-toggle">
            <div class="">
                <span>Student Appointments</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_interviews' %}" aria-expanded="{{ interviews }}" class="dropdown-toggle">
            <div class="">
                <span>Interviews</span>
            </div>
        </a>
    </li>

    <li class="menu">
        <a href="{% url 'student:manual_announcements' %}" aria-expanded="{{ announcements }}" class="dropdown-toggle">
            <div class="">
                <span>Announcements</span>
            </div>
        </a>
    </li> 
    
    <li class="menu">
        <a href="{% url 'student:manual_app' %}" aria-expanded="{{ mobile_app }}" class="dropdown-toggle">
            <div class="">
                <span>The mobile app</span>
            </div>
        </a>
    </li> 
</ul>