{% load icon %}

<nav id="sidebar">

  <ul class="navbar-nav theme-brand flex-row  text-center">
      <li class="nav-item theme-text">
          <a href="index.html" class="nav-link"> SPACES </a>
      </li>
      <li class="nav-item toggle-sidebar">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather sidebarCollapse feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
      </li>
  </ul>

  <div class="shadow-bottom"></div>
  <ul class="list-unstyled menu-categories" id="accordionExample">
      <li class="menu {{ dash_active }}">
          <a href="{% url 'spaces:foyer' virtual_space.id %}" aria-expanded="{{ dash_aria }}" class="dropdown-toggle">
              <div class="">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                  <span> Foyer</span>
              </div>
          </a>
      </li>

      <li class="menu {{ stream_active }}">
        <a href="{% url 'spaces:stream_messages' virtual_space.id %}" aria-expanded="{{ stream_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                <span> Feed</span>
            </div>
        </a>
    </li>

    <li class="menu {{ room_active }}">
        <a href="{% url 'spaces:student_rooms' virtual_space.id %}" aria-expanded="{{ room_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map"><polygon points="1 6 1 22 8 18 16 22 23 18 23 2 16 6 8 2 1 6"></polygon><line x1="8" y1="2" x2="8" y2="18"></line><line x1="16" y1="6" x2="16" y2="22"></line></svg>
                <span> Live Sessions</span>
            </div>
        </a>
    </li>

    <li class="menu {{ my_meetings_active }}">
        <a href="{% url 'spaces:student_view_meetings' virtual_space.id  %}" aria-expanded="{{ my_meetings_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                <span> Meetings</span>
            </div>
        </a>
    </li>
    <li class="menu {{ chat_requests_active }}">
        <a href="{% url 'spaces:student_requested_chats' virtual_space.id  %}" aria-expanded="{{ chat_requests_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "message-circle" class="css-class" height="8" width="8"  %}
                <span> Chats</span>
            </div>
        </a>
    </li>
    
    <li class="menu {{ pres_active }}">
        <a href="{% url 'spaces:presenters' virtual_space.id %}" aria-expanded="{{ pres_aria }}" class="dropdown-toggle">
            <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                <span> Presenters</span>
            </div>
        </a>
    </li>

    <li class="menu {{ comp_active }}">
        <a href="{% url 'spaces:booths' virtual_space.id %}" aria-expanded="{{ comp_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "briefcase" class="css-class" height="8" width="8"  %}
                <span> Exhibition Booths</span>
            </div>
        </a>
    </li>

    <li class="menu {{ discussions_active }}">
        <a href="{% url 'spaces:discussions' virtual_space.id  %}" aria-expanded="{{ discussions_aria }}" class="dropdown-toggle">
            <div class="">
                {% icon "message-circle" class="css-class" height="8" width="8"  %}
                <span> Discussions</span>
            </div>
        </a>
    </li>

    <li class="menu menu-heading">
        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle></svg><span>USER MENU</span></div>
    </li>                    

    <li class="menu {{ cv_active }}">
        <a href="{% url 'student:cv' MENU_DESIGNATION.student.id %}"  target="_blank" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "file" class="css-class" height="8" width="8"  %}
                <span> CV</span>
            </div>
        </a>
    </li>
    <li class="menu {{ user_active }}">
        <a href="{% url 'spaces:student_profile' virtual_space.id MENU_DESIGNATION.student.id %}" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "user" class="css-class" height="8" width="8"  %}
                <span> Profile</span>
            </div>
        </a>
    </li>
    <li class="menu {{ transcript_active }}">
        <a href="{% url 'student:transcript' %}"  target="_blank" aria-expanded="false" class="dropdown-toggle">
            <div class="">
                {% icon "file-text" class="css-class" height="8" width="8"  %}
                <span> Transcript</span>
            </div>
        </a>
    </li>

  </ul>
</nav>