{% extends 'base_tpl.html' %}

{% block breadcrumb-content %}
    <nav aria-label="breadcrumb" class="-intro-x mr-auto hidden sm:flex">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'administration:dashboard' %}">Dashboard</a></li>
            <li class="breadcrumb-item active" aria-current="page">Province</li>
        </ol>
    </nav>
{% endblock %}

{% block main-content %}

<div class="intro-y flex flex-col sm:flex-row items-center mt-8">
    <h2 class="text-lg font-medium mr-auto">
        {{country.country}}: Provinces
    </h2>
    <div class="w-full sm:w-auto flex mt-4 sm:mt-0">
        <a href="javascript:;" data-tw-toggle="modal" data-tw-target="#add-modal" class="btn btn-primary shadow-md mr-2">Add New Province</a>
        <div id="add-modal" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form action="{% url 'configurable:add_province' country.id %}" method="POST">
                        {% csrf_token %}
                        <!-- BEGIN: Modal Header -->
                        <div class="modal-header">
                            <h2 class="font-medium text-base mr-auto">Add Province</h2>                                             
                        </div> <!-- END: Modal Header -->
                        <!-- BEGIN: Modal Body -->
                        <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                            <div class="col-span-12 sm:col-span-12"> 
                                <label for="modal-form-1" class="form-label">Province</label> 
                                <input id="province" name='province' type="text" class="form-control" placeholder="Province"> 
                            </div>                                            
                        </div> <!-- END: Modal Body -->
                        <!-- BEGIN: Modal Footer -->
                        <div class="modal-footer"> 
                            <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                            <button type="submit" class="btn btn-primary w-60">Add Province</button> 
                        </div> <!-- END: Modal Footer -->
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


{% include 'messages.html' %}
<div class="grid grid-cols-12 gap-6 mt-5">
    
    <!-- BEGIN: Data List -->
    <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
        <table class="table table-report -mt-2">
            <thead>
                <tr>
                    <th class="whitespace-nowrap">#</th>
                    <th class="whitespace-nowrap">Province</th>
                    <th class="whitespace-nowrap">Municipalities</th>
                    <th class="whitespace-nowrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for r in provinces %}
                <tr class="intro-x">
                    <td class="w-40">
                        {{ r.id }}
                    </td>
                    <td>
                        {{ r.province }}
                    </td>
                    <td>
                        <a class="flex items-center mr-3" href="{% url 'configurable:municipalities' r.id %}"> <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Municipalities </a>
                    </td>
                    <td class="table-report__action w-56">
                        <div class="flex justify-center items-center">
                            <a class="flex items-center mr-3" href="javascript:;" data-tw-toggle="modal" data-tw-target="#edit-modal_{{ r.id }}"> <i data-lucide="check-square" class="w-4 h-4 mr-1"></i> Edit </a>
                            <div id="edit-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <form action="{% url 'configurable:edit_province' r.id %}" method="POST">
                                            {% csrf_token %}
                                            <!-- BEGIN: Modal Header -->
                                            <div class="modal-header">
                                                <h2 class="font-medium text-base mr-auto">Province</h2>                                             
                                            </div> <!-- END: Modal Header -->
                                            <!-- BEGIN: Modal Body -->
                                            <div class="modal-body grid grid-cols-12 gap-4 gap-y-3">
                                                <div class="col-span-12 sm:col-span-12"> 
                                                    <label for="modal-form-1" class="form-label">Province</label> 
                                                    <input id="id_province" name='province' type="text" class="form-control" value="{{ r.province }}"> 
                                                </div>                                            
                                            </div> <!-- END: Modal Body -->
                                            <!-- BEGIN: Modal Footer -->
                                            <div class="modal-footer"> 
                                                <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-20 mr-1">Cancel</button> 
                                                <button type="submit" class="btn btn-primary w-60">Edit Province</button> 
                                            </div> <!-- END: Modal Footer -->
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <a class="flex items-center text-danger" href="javascript:;" data-tw-toggle="modal" data-tw-target="#delete-confirmation-modal_{{ r.id }}"> <i data-lucide="trash-2" class="w-4 h-4 mr-1"></i> Delete </a>
                            <div id="delete-confirmation-modal_{{ r.id }}" class="modal" tabindex="-1" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body p-0">
                                            <form action="{% url 'configurable:delete_province' r.id %}" method="POST">
                                                {% csrf_token %}
                                                <div class="p-5 text-center">
                                                    <i data-lucide="x-circle" class="w-16 h-16 text-danger mx-auto mt-3"></i> 
                                                    <div class="text-3xl mt-5">Are you sure?</div>
                                                    <div class="text-slate-500 mt-2">
                                                        Do you really want to delete this record? 
                                                        <br>
                                                        This process cannot be undone.
                                                    </div>
                                                </div>
                                                <div class="px-5 pb-8 text-center">
                                                    <button type="button" data-tw-dismiss="modal" class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                                                    <button type="submit" class="btn btn-danger w-24">Delete</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% empty %}
                    <tr class="intro-x"><td colspan=3>Nothing added yet</td></tr>
                {% endfor %}
                
            <tbody>
        </table>
    </div>
</div>

{% endblock %}