<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">
    <br><br>
    <p>Dear Consultant</p>

    <p>A new appointment has been assigned to you:</p>

    <p>Appointment Details:</p>
    <b>Student:</b> {{ fullname }}<br>
    <b>Department:</b> {{ department }}<br>
    <b>Contact:</b> {{ contact }}<br>
    <b>Email:</b> {{ email }}<br>
    <b>Category:</b> {{ category }}<br>
    <b>Description:</b> {{ description }}<br>
    <b>Appointment Date:</b> {{ appt_date }}<br>
    <b>Appointment Time:</b> {{ appt_time }} <br><br>

    Please log in to the AHC SIMS Platform to review the appointment<br><br>

    AHC SIMS Web Admin

  </body>

</html>
