<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHC SIMS Web Application Activation</h2>

    <p>Dear {{ name }} </p>

    <p>Welcome to the AHC SIMS Web Application.</p>

    <p>Your account has been activated successfully.</p>

    <p>Please use the following credentials to log on:</p>

    <p> Web Address: sims.ahcnc.co.za<br>
        Username/Email Address: {{ email }}<br>
        Passcode: {{ password }}<br></p>

    <p>Sincerely</p>

    <p>AHC SIMS  Web Admin</p>

  </body>

</html>
