<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHCNC SIMS Web Application Password Reset</h2>

    <p>Dear {{ name }} </p>

    <p>Your AHCNC SIMS account password has been reset successfully.</p>

    <p>Please use the following credentials to log on:</p>

    <p>
      Web Address: sims.ahcnc.co.za<br>
      Username/Email Address: {{ email }}<br>
      Passcode: {{ password }}<br>
    </p>

    <p>Sincerely</p>

    <p>AHCNC SIMS  Web Admin</p>


  </body>

</html>
