<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHC SIMS Appointment Update</h2>

    <p>Dear {{ name }} </p>

    <p>Your Appointment status has been updated:</p>

    <p><b>Appointment Details: </b></p>

    <p> Description: {{ description }}<br>
        Category: {{ category }}<br>
        Date: {{ date }} at {{ time }}
    </p>

    <p><b>Update:</b></p>
    <p>{{ update }}</p>

<p>Sincerely</p>

<p>AHC SIMS  Web Admin</p>


  </body>

</html>
