<html>
  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg" width="20%" height="20%">

    <h2>New Advert</h2>

<p>
    Hello<br><br>
 
    A new job advert has been posted.<br><br>
    
    Please log on to the AHC SIMS portal to view the advert:<br><br>
    
    Web Address: sims.ahcnc.co.za<br>
    Company: {{ company }}<br>
    Position: {{ post }}<br>
    
    Make sure to keep your profile and email preferences up to date so we can serve you better.<br>
    
    Sincerely<br>
    
    AHC SIMS  Web Admin
</p>
<p>
  The new Protection of Personal Information Act (POPIA) has come into effect on 1 July 2021.
</p>
<p>
If you are happy to continue receiving recruitment related news, information and more from the AHC SIMS platform and the UJ PsyCaD Career Services Office, then you can stay opted in by not taking any action. 
</p>
<p>
<b>Alternatively, you can opt out by signing into the system, click on your profile and then edit your email preferences.</b>
</p>

  </body>

</html>