<html>
  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHC SIMS Web Application Activation</h2>

    <p>Dear {{ name }}</p>

    <p>Welcome to the AHC SIMS Web Application.</p>

    <p>Your account has been activated successfully.</p>

    <p>Please use the following credentials to log on:</p>

      <p>
        <ul>
          <li>Web Address: sims.ahcnc.co.za</li>
          <li>Username/Email Address: {{ email }}</li>
          <li>Passcode: Your Student Number - {{ password }}</li>
        </ul>
      </p>

<p>Make sure to edit your profile and email preferences so we can serve you better.</p>

<p>Sincerely</p>

<p><b>AHC SIMS  Web Admin</b></p>


  </body>

</html>
