<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHC SIMS Web Application Password Reset</h2>

    <p>Dear {{ name }} </p>

    <p>Your AHC SIMS account password has been reset successfully.</p>

    <p>Please use the following credentials to log on:</p>

    <p> Web Address: sims.ahcnc.co.za<br>
        Username/Email Address: {{ email }}<br>
        Passcode: Your Student Number - {{ password }}
    </p>

<p>Make sure to edit your profile and email preferences so we can serve you better.</p>

<p>Sincerely</p>

<p>AHC SIMS  Web Admin</p>


  </body>

</html>
