<html>

  <body>

    <img src="https://sims-ahc-media.s3.eu-west-1.amazonaws.com/static/images/AHC-Logo.svg"  width="20%" height="20%">

    <h2>AHC SIMS Web Application Password Reset</h2>

    <p>Dear {{ name }} </p>

    <p>You have requested to reset your AHC SIMS account. Please click the link below to reset it. If you didn't request this, please ignore this email</p>

    <a href="https://sims.ahcnc.co.za/accounts/password/reset?u={{ user_id }}&t={{ token }}">Click to Reset Password</a>
    <br>
    or copy and paste this link in your browser: https://sims.ahcnc.co.za/accounts/password/reset?u={{ user_id }}&t={{ token }}



<p>Sincerely</p>

<p>AHC SIMS  Web Admin</p>


  </body>

</html>
