{% extends 'base_vertical.html' %}

{% load bootstrap3 %}

{% block main-content %}

<div class="row">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <nav aria-label="breadcrumb">
              <ol class="breadcrumb bg-inverse-info">
                  <li class="breadcrumb-item"><a href="{% url 'psycad:dashboard' %}">Dashboard</a></li>
                  <li class="breadcrumb-item"><a href="{% url 'psycad:workshop_list' %}">Workshops</a></li>
                  <li class="breadcrumb-item active" aria-current="page"><a>Edit Workshop</a></li>
              </ol>
            </nav>

            {% include 'messages.html' %}

        </div>
      </div>
  </div>
</div>

  <div class="col-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Edit Workshop</h4>
          <p class="card-description">
            Please fill in the information below
          </p>
          <form class="forms-sample" method="POST" action="{% url 'psycad:workshop_edit' workshop.id %}">
            {% csrf_token %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Title</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.title show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Description</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.description show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Workshop Type</label>
                  <div class="col-sm-10">
                    <select name="type" id="id_type" class="form-control">
                      {% for t in types %}
                       {% if t.id == workshop.type_id %}
                          <option value="{{ t.id }}" selected>{{ t.type }}</option>
                       {% else %}
                          <option value="{{ t.id }}">{{ t.type }}</option>
                       {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Registration</label>
                  <div class="col-sm-10">
                    <select name="registration" id="id_registration" class="form-control">
                      {% if workshop.registration == 'Yes' %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                      {% else %}
                      <option value="Yes">Yes</option>
                      <option value="No" selected>No</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Workshop Dates</label>
                  <div class="col-sm-4">
                    <input type="date" class="form-control" name="workshop_date" id="id_workshop_date" value="{{ workshop.workshop_date|date:'Y-m-d' }}">
                  </div>
                  to
                  <div class="col-sm-4">
                    <input type="date" class="form-control" name="workshop_enddate" id="id_workshop_enddatee" value="{{ workshop.workshop_enddate|date:'Y-m-d' }}">
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Workshop Time</label>
                  <div class="col-sm-10">
                    <input type="time" class="form-control" name="workshop_time" id="id_workshop_time" value="{{ workshop.workshop_time|date:'H:i' }}">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Location</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.location show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Extra Information</label>
                  <div class="col-sm-10">
                    {% bootstrap_field form.extra_information show_label=False %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Published</label>
                  <div class="col-sm-10">
                    <select name="published" id="id_published" class="form-control">
                      {% if workshop.published == 'Yes' %}
                        <option value="Yes" selected>Yes</option>
                        <option value="No">No</option>
                      {% else %}
                      <option value="Yes">Yes</option>
                      <option value="No" selected>No</option>
                      {% endif %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-2 col-form-label">Campus</label>
                  <div class="col-sm-10">
                    <select name="campus" id="id_campus" class="form-control">
                      {% for c in campuses %}
                        {% if c.id == workshop.campus_id %}
                          <option value="{{ c.id }}" selected>{{ c.campus }}</option>
                        {% else %}
                          <option value="{{ c.id }}">{{ c.campus }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <p>Faculties: {% for faculty in workshop.faculties.all %}{{faculty.faculty}}, {%empty%}Sorry no faculties added yet{% endfor %}</p>
            <button type="submit" class="btn btn-primary mr-2">Edit</button>
            <button class="btn btn-warning">Cancel</button>
          </form>
        </div>
      </div>
    </div>

{% endblock %}
